@{
    ViewBag.Title = "AnGiang";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/AnGiang/CuLaoGieng.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Cù Lao Giêng</h4>
                    <span class="text-muted">Du lịch văn hóa lịch sử</span>
                    <hr></hr>
                    <p>Với cảnh quan thiên nhiên đầy sức quyến rũ của một vùng sông nước, cá lội tung tăng cùng vô vàn chủng loại cây trái đặc sản của miền phù sa nước ngọt, Cù Lao Giêng còn có những công trình văn hoá và mỹ thuật tiêu biểu như Chùa Bà Lê (Phước Hội Tự), một di tích lịch sử cách mạng thuộc xã Hội An, huyện Chợ Mới đã được Nhà nước công nhận di tích quốc gia.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/culaogieng" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/AnGiang/NuiCam.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Núi Cấm</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Đây là địa danh du lịch rất nổi tiếng của An Giang và ĐBSCL vì khí hậu mát mẻ, phong cảnh đẹp và cây cối luôn xanh tươi. Trên núi có: Chùa Vạn Linh, chùa Phật Lớn, tượng Phật Di Lặc, Cao Đài Tự…Từng được xưng tụng bằng nhiều mỹ từ, là “nóc nhà của đồng bằng”, hoặc một Đà Lạt thứ hai giữa vùng sông nước miền Tây.</p><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/nuicam" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/AnGiang/NuiSam.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Núi Sam</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Là một địa điểm du lịch nổi tiếng ở Các tỉnh miền tây. Có đến 200 ngôi đền, chùa, am, miếu nằm rải rác ở chân núi, sườn núi và cả trên đỉnh. Trên đỉnh núi có một pháo đài được xây dựng từ thời Pháp.</p><br><br><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/nuisam" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/AnGiang/RungTramTraSu.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Rừng tràm Trà Sư</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Với sinh cảnh rừng tràm ngập nước và hệ động thực vật phong phú, Trà Sư biểu trưng cho nét đẹp mùa nước nổi An Giang. Đây cũng là khu rừng ngập nước nội địa thứ 6 của các tỉnh miền tây. Mặc dù đường vào rừng còn gập ghềnh ổ gà, ổ voi nhưng ai đã một lần đặt chân đến đây sẽ nhanh chóng bị không gian huyền bí của rừng cuốn hút…</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/rungtramtrasu" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
            



@*<script src="~/Content/Content/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>*@
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
@*<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>*@


