@{
    ViewBag.Title = "BacLieu";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/BacLieu/VuonChimBacLieu.JPG"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Vườn chim Bạc Liêu</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Vườn Chim Bạc Liêu đang từng bước được tỉnh đầu tư theo hướng vừa giữ được sắc thái thiên nhiên hoang dã, phù hợp với tính đa dạng sinh học, phục vụ cho nghiên cứu khoa học vừa khai thác một phần thích hợp, tạo điều kiện cho khách tham quan du lịch và giải trí</p><br><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/vuonchimbl" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/BacLieu/DuLichRungBienBacLieu.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Du lịch biển và rừng Bạc Liêu</h4>
                    <span class="text-muted">Du lịch biển và sinh thái</span>
                    <hr></hr>
                    <p>Bạc Liêu có 54 km bờ biển, chiếm 1,27% tổng chiều dài bờ biển cả nước. Mỗi khi thủy triều xuống, bãi biển trải dài hàng cây số và du khách thỏa thích đi trên bãi biển mênh mông. Du khách có thể bơi xuồng len lách trong những cánh rừng phòng hộ, câu cá, đổ đó, bắt tôm. Đi giữa rừng mắm xanh tươi, du khách sẽ quên đi những lo toan, phiền muộn, hít thở không khí trong lành mà không phải nơi đâu cũng có.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/rungbienbaclieu" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/BacLieu/VuonNhanCoBacLieu.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Vườn nhãn cổ trên trăm tuổi</h4>
                    <span class="text-muted">Du lịch miệt vườn</span>
                    <hr></hr>
                    <p>Ai cũng biết các tỉnh miền tây nam bộ là xứ sở của vườn cây ăn trái, và đặc biệt vườn nhãn ở Bạc Liêu là vườn nhãn đặc biệt nhất đồng bằng sông Cửu Long, vì nó là vườn nhãn cổ nhất trên trăm tuổi, là niềm tự hào của người dân địa phương và là điểm thủ hút khách phương xa đến tham quan.</p><br><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/vuonnhanbl" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/BacLieu/NhaCongTuBacLieu.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Nhà công tử Bạc Liêu</h4>
                    <span class="text-muted">Du lịch miệt vườn</span>
                    <hr></hr>
                    <p>Là địa điểm du lịch không thể bỏ qua của bất cứ du khác nào đặt chân tới Bạc Liêu. Đây là nhà của ông Trần Trinh Trạch, cha của Trần Trinh Huy (công tử Bạc Liêu), ngôi nhà được xây dựng 1919. Đây là căn nhà được coi là bề thế nhất Bạc Liêu lúc bấy giờ do kỹ sư người Pháp thiết kế và xây dựng với nhiều vật liệu phải chở từ bên Pháp sang.</p><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/congtubaclieu" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>




            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="../../dist/js/bootstrap.min.js"></script>
            <script src="../../assets/js/docs.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
