@{
    ViewBag.Title = "BenTre";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
              
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/BenTre/SanChimVamHo.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Sân chim Vàm Hồ</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Tới thăm sân chim Vàm Hồ, du khách được đi dạo đường rừng, bơi xuồng len lỏi trong rừng ngập mặn, tham quan khu căn cứ kháng chiến, đi qua những chiếc cầu tre lắt lẻo, ngả lưng trên chiếc võng đung đưa dưới tán lá rừng, hít thở không khí trong lành của dòng sông Ba Lai.</p><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/sanchimvamho" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/BenTre/ConOc.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Cồn Ốc</h4>
                    <span class="text-muted">Du lịch miệt vườn</span>
                    <hr></hr>
                    <p>Cồn Ốc hấp dẫn du khách bởi những vườn cây ăn trái bạt ngàn, những rặng dừa xanh thẳm ngút tầm mắt, những làng nghề truyền thống độc đáo, đặc biệt là cuộc sống yên bình của con người nơi miền quê sông nước này.</p><br><br><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/conoc" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/BenTre/ConQui.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Cồn Qui</h4>
                    <span class="text-muted">Du lịch miệt vườn</span>
                    <hr></hr>
                    <p>Cồn Qui là các khu vườn trồng trái cây ăn trái như sa-pô-chê, nhãn, mít tố nữ,… Dạo chơi sông tiền, bạn hãy ghé vào Cồn Qui để thưởng thức trái cây thơm ngon và các loại tôm cá</p><br><br><br><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/conqui" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/BenTre/ConPhung.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Cồn Phụng</h4>
                    <span class="text-muted">Du lịch miệt vườn</span>
                    <hr></hr>
                    <p>Là một trong những nơi cung cấp trái cây nhiều nhất Bến Tre, Cồn Phụng đón du khách với hương thơm ngào ngạt của sầu riêng, của cây mít tố nữ sai quả, những chùm dâu chín vàng, chôm chôm đỏ au…</p><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/conphung" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>




            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="../../dist/js/bootstrap.min.js"></script>
            <script src="../../assets/js/docs.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
