@{
    ViewBag.Title = "CaMau";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">
       
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/CaMau/MuiCaMau.jpg"   class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Mũi Cà Mau</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Mũi Cà Mau là nơi duy nhất trên đất liền Việt Nam du khách thấy mặt trời mọc trên biển Đông và lặn ở biển phía Tây. Đất mũi Cà Mau – nơi cực Nam của đất nước là vùng đất được khai phá vào cuối thế kỷ 17, đầu thế kỷ 18 gắn liền với cuộc sống quần tụ của ba dân tộc: Việt, Hoa, Khmer. Nên văn hóa ở đây rất phong phú </p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/muicamau" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/CaMau/UMinh.jpg"   class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Rừng U Minh</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Rừng U Minh được coi là nơi có giá trị sinh khối cao nhất so với các kiểu rừng với khoảng 250 loài thực vật, chủ yếu là cây tràm mọc khắp nơi, hơn 180 loài chim, hơn 20 loài bò sát... Sinh cảnh của rừng U Minh còn là hiện trường và hệ quả của tiến trình diễn biến động thái của những hoạt động kiến tạo địa chất.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/runguminh" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/CaMau/HonKhoai.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Đảo Hòn Khoai</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Hòn Khoai là đảo đá, đồi và rừng còn gần như nguyên vẹn với nhiều loại gỗ quí, động thực vật phong phú, phong cảnh thiên nhiên hoang dã lôi cuốn.Nếu đi tàu 90CV từ Rạch Gốc, thì chỉ sau 3 giờ vượt biển, du khách đã có thể chiêm ngưỡng được Hòn Khoai - một trong những hòn đảo đẹp nhất miền cực nam của Tổ quốc.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/daohonkhoai" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/CaMau/ChuaQuanAm.jpg"    class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chùa Quan Âm</h4>
                    <span class="text-muted">Du lịch tâm linh</span>
                    <hr></hr>
                    <p>Chùa do Hoà thượng Tô Quang Xuân dựng vào khoảng giữa thế kỷ 19, lúc bấy giờ chỉ là một am nhỏ để ngài tu hành và chữa bệnh cho dân. Sau ngài về tu ở chùa Kim Chương (Gia Định) lấy pháp hiệu là Trí Tâm. Năm 1842 vua Thiệu Trị sắc phong Hoà thượng cho ngài và sắc tứ cho chùa Quan Âm.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chuanquanam" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>




            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="../../dist/js/bootstrap.min.js"></script>
            <script src="../../assets/js/docs.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
