@{
    ViewBag.Title = "CanTho";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}



<div class="container-fluid">
    <div class="row">
       
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/CanTho/LangDuLichMyKhanh.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Làng du lịch Mỹ Khánh</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Tại đây du khách thỏa sức khám phá, tìm hiểu về đời sống cư dân miệt vườn như: tham quan Nhà cổ Nam bộ, thưởng thức chương trình văn nghệ “Đờn ca tài tử”, “Một ngày làm Điền Chủ” với bữa cơm điền chủ, “Một ngày làm nông dân”, “Tát mương bắt cá…”.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/dulichMK" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/CanTho/NhaCoBinhThuy.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Nhà cổ Bình Thủy</h4>
                    <span class="text-muted">Du lịch văn hóa lịch sử</span>
                    <hr></hr>
                    <p>Nhà cổ Bình Thủy là một trong các ngôi nhà kiểu Pháp hiếm hoi còn sót lại khá nguyên vẹn ở Nam Bộ. Ngôi ngà cổ năm gian hai mái, kiến trúc Pháp được gia đình họ Dương xây vào năm 1870</p><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/nhacoBT" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/CanTho/ChoDemTayDo.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chợ đêm Tây Đô</h4>
                    <span class="text-muted">Du lịch miệt vườn</span>
                    <hr></hr>
                    <p>Đây là trung tâm buôn bán lớn nhất tỉnh với rất nhiều mặt hàng, đủ các chủng loại hang hóa: rau tươi, trái cây, hoa,.. Chợ đêm Tây Đô cũng được xem là một điểm du lịch văn hóa đặc trưng, nổi bật và hấp dẫn ở Cần Thơ, thu hút không chỉ người dân địa phương mà cả du khách phương xa.</p>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chodemTD" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/CanTho/BangLang.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Vườn cò Bằng Lăng</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Vườn cò này là một trong những sân chim lớn nhất nơi miệt vườn chin dòng sông. Đây là điểm hấp dẫn độc đáo của tour du lịch sinh thái miệt vườn.</p><br><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/vuoncoBL" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>




            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="../../dist/js/bootstrap.min.js"></script>
            <script src="../../assets/js/docs.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
