@{
    ViewBag.Title = "DongThap";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/DongThap/LangHoaSaDec.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Làng hoa kiểng Sa Đéc</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Là một trong những trung tâm hoa kiểng miền Nam. Làng hoa Sa Đéc bên bờ sông Tiền quanh năm lộng gió, màu mỡ phù sa, ngập tràn ánh nắng, là xứ sở của hàng trăm loài “kỳ hoa dị thảo”.</p><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/langhoakieng" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/DongThap/KhuDiTichGoThap.jpg"   class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Khu di tích Gò Tháp</h4>
                    <span class="text-muted">Du lịch văn hóa lịch sử</span>
                    <hr></hr>
                    <p>Đến Gò Tháp, bạn sẽ bất ngờ bởi đây không chỉ là khu di tích mà còn có cảnh quan thiên nhiên đẹp với môi trường sinh thái còn mang nhiều dấu vết hoang sơ.</p><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/khuditichgothap" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/DongThap/VuonQuocGiaTramChim.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Vườn quốc gia Tràm Chim</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Ðến đây, du khách được tận mắt ngắm nhìn những con sếu đầu đỏ – một trong số 15 loài sếu còn tồn tại trên thế giới đang có nguy cơ diệt chủng. Sếu to cao trên 1,7m, bộ lông xám mượt, cổ cao, đầu đỏ, đôi cánh rộng.</p><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/tramchim" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/DongThap/LangCuPhoBang.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Lăng cụ phó bảng</h4>
                    <span class="text-muted">Du lịch tâm linh</span>
                    <hr></hr>
                    <p>Hàng triệu du khách trong và ngoài nước đã đến Đồng Tháp tham quan và viếng mộ cụ Phó bảng Nguyễn Sinh Sắc, thể hiện lòng biết ơn đối với Người đã có công sinh thành Bác Hồ muôn vàn kính yêu.</p><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/langcuphobang" role="button">Chi tiết &raquo;</a></p>
                </div>




                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="../../dist/js/bootstrap.min.js"></script>
                <script src="../../assets/js/docs.min.js"></script>
                <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
                <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
