@{
    ViewBag.Title = "HauGiang";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}



<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
               
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="/Images/13T_DiaDiem/HauGiang/DenThoBacHo.jpg"    class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Đền thờ Bác Hồ</h4>
                    <span class="text-muted">Du lịch văn hóa lịch sử</span>
                    <hr></hr>
                    <p>Từ trung tâm thị trấn Long Mỹ theo đường liên xã qua Thuận Hưng, Xà Phiên sẽ đến xã Lương Tâm là nơi di tích đền thờ Bác Hồ. Di tích được xây dựng trên vùng đất phía Bắc nơi ngã tư của hai con kinh Long Mỹ II và Năm Căn giao nhau; cách thị trấn Long Mỹ 21 km; cách TP Cần Thơ 78 km về phía Tây Nam.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/denthoBH" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="/Images/13T_DiaDiem/HauGiang/LNH.JPG"    class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>KBTTN Lung Ngọc Hoàng</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Với tổng diện tích của khu bảo tồn là 280.535 ha, Lung Ngọc Hoàng là khu bảo tồn thiên nhiên theo quy chế quản lý của 3 loại rừng của Việt Nam theo tiêu chuẩn của Công ước Ramsar, là nơi quy tụ các loài sinh vật quý hiếm, phong phú, nhiều chủng loại, gồm: 330 loài thực vật và 206 loài động vật quý.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/lungngochoang" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="/Images/13T_DiaDiem/HauGiang/TayDo.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>KVC ST Tây Đô</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Tọa lạc trên diện tích rộng lớn 17,2ha thuộc địa phận ấp Tân Long A, xã Tân Bình, huyện Phụng Hiệp cách TP.Cần Thơ 27km và TP.Vị Thanh 32km Trung tâm vui chơi sinh thái Tây Đô hiển nhiên đã trở thành một địa điểm tham quan, vui chơi giải trí hết sức lý tưởng cho du khách khi có dịp quá cảnh đến Hậu Giang.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/taydo" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="/Images/13T_DiaDiem/HauGiang/PhungHiep.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chợ nổi Phụng Hiệp</h4>
                    <span class="text-muted">Du lịch văn hóa lịch sử</span>
                    <hr></hr>
                    <p>Chợ nổi Phụng Hiệp còn gọi là chợ Ngã Bảy, là một chợ nổi thuộc thị xã Ngã Bảy, là khu chợ nổi tiếng nhất của tỉnh Hậu Giang, nơi đây diễn ra các hoạt động mua bán, trao đổi hàng hóa của cư dân miền sông nước. Nơi đây không chỉ là nơi buôn bán hàng hóa mà còn là địa điểm thu hút khách du lịch.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chonoiPH" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>




            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="../../dist/js/bootstrap.min.js"></script>
            <script src="../../assets/js/docs.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
