@{
    ViewBag.Title = "KienGiang";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/KienGiang/PhuQuoc.jpg"   class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Đảo Phú Quốc</h4>
                    <span class="text-muted">Du lịch biển</span>
                    <hr></hr>
                    <p>Đảo Phú Quốc nằm trong vịnh Thái Lan thuộc huyện Phú Quốc, tỉnh Kiên Giang. Thị trấn Dương Ðông, thủ phủ của đảo cách thành phố Rạch Giá 120km và cách Hà Tiên 45km. Là đảo lớn nhất Việt Nam, là hòn đảo lớn nhất trong số 22 hòn đảo của huyện đảo Phú Quốc, tài nguyên phong phú, giàu tiềm năng du lịch.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/daophuquoc" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/KienGiang/langhomac.jpg"   class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Lăng họ Mạc</h4>
                    <span class="text-muted">Du lịch văn hóa lịch sử</span>
                    <hr></hr>
                    <p>Từ mé Kim Dữ đi về hướng tây vài km là đến núi Lăng tức Bình San. Họ Mạc đặt tên là “Bình san điệp thuý”. Trên núi Lăng có lăng mộ họ Mạc, hiện nay còn khoảng hơn 40 ngôi, có bia đá. Trước lăng có tượng Mạc Cửu mặc nhung phục, tay cầm kiếm đứng trên một bệ cao oai phong lẫm liệt.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/langhomac" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/KienGiang/hamninh.JPG"   class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Làng chài Hàm Ninh</h4>
                    <span class="text-muted">Du lịch biển</span>
                    <hr></hr>
                    <p>Làng chài Hàm Ninh nằm về phía Ðông đảo, sau lưng là núi rừng, trước mặt là biển cả mênh mông, là địa danh còn giữ nguyên vẻ hoang sơ với nhà tranh vách tre tạm bợ. Nghề chính ở Làng Chài Hàm Ninh vẫn là nghề lặn ngọc trai, bắt hải sâm (đồn đột) và giăng lưới ghẹ.</p><br>
                    <br><p><a class="btn btn-default" href="http://localhost:60785/Places/langchaiHN" role="button">Chi tiết &raquo;</a></p>
                </div>
               
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/KienGiang/HaTien.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Hà Tiên</h4>
                    <span class="text-muted">Du lịch biển</span>
                    <hr></hr>
                    <p>Hà Tiên là nơi hội tụ của nhiều danh lam thắng cảnh, thiên nhiên hoang sơ đầy quyến rũ: có hang sâu, động hiểm, nhiều đảo đá trên biển; có sông, hồ, chùa, lăng tẩm và nhiều bãi tắm đẹp.</p>
                    <br><p><a class="btn btn-default" href="http://localhost:60785/Places/hatien" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>



            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="../../dist/js/bootstrap.min.js"></script>
            <script src="../../assets/js/docs.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
