@{
    ViewBag.Title = "LongAn";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">
       
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/LongAn/LangNoiTanLap.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>KDLST Đồng Tháp Mười</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Ngược dòng sông Vàm Cỏ Tây, Đồng Tháp Mười một vùng du lịch sinh thái đặc trưng của vùng đất trũng Nam bộ, cách thị xã Tân An khoảng 50 km ở huyện Mộc Hóa, Vĩnh Hưng, Thạnh Hoá và Tân Thạnh.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/dongthap10" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/LongAn/RachNui.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Di tích khảo cổ Rạch Núi</h4>
                    <span class="text-muted">Du lịch văn hóa lịch sử</span>
                    <hr></hr>
                    <p>Di tích khảo cổ học Rạch Núi còn gọi là Gò Núi Đất,là một gò đất cao nhô lên giữa vùng đồng bằng,rộng chừng 1 hécta,bình diện gân tròn,bán kính trung bình 50m, quanh có rào bao bọc.</p><br>
                    <br><p><a class="btn btn-default" href="http://localhost:60785/Places/rachnui" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/LongAn/ChuaTonThanh.JPG"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chùa Tôn Thạnh</h4>
                    <span class="text-muted">Du lịch tâm linh</span>
                    <hr></hr>
                    <p>Thuộc ấp Thanh Ba, xã Mỹ Lộc, huyện Cần Giuộc. Ðây là ngôi chùa cổ nhất của tỉnh Long An được xây dựng vào năm 1808. Chùa do Hoà thượng Viên Ngô khai sáng với tên là Lan Nhã.</p><br>
                    <br><p><a class="btn btn-default" href="http://localhost:60785/Places/chuatonthanh" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="~/Images/13T_DiaDiem/LongAn/BinhTa.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Di tích lịch sử Bình Tả</h4>
                    <span class="text-muted">Du lịch văn hóa lịch sử</span>
                    <hr></hr>
                    <p>Nằm trong một tổng thể di tích với hơn 60 di tích khảo cổ học đã được khảo sát, tập trung trên địa bàn huyện Đức Hòa, khu di tích Bình Tả là một cụm gồm 16 di tích kiến trúc phối hợp với một hệ thống bàu nước cổ ở xung quanh. </p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/binhta" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>

        </div>
    </div>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
