@{
    ViewBag.Title = "SocTrang";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">



                    <img src="/Images/13T_DiaDiem/SocTrang/ChoNoiNgaNam.jpg"   class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chợ nổi ngã năm</h4>
                    <span class="text-muted">Du lịch miệt vườn</span>
                    <hr></hr>
                    <p>Chợ nổi Ngã Năm là giao điểm của năm con sông đi năm ngã: Cà Mau lên, Vĩnh Quới vào, Long Mỹ, Thanh Trị qua, Phụng Hiệp xuống.Ðây là một trong những chợ nổi có từ lâu và nhộn nhịp nhất ở vùng đồng bằng sông Cửu Long.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chonoinga5" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/SocTrang/KDLBinhAn.jpg"   class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Khu du lịch Bình An</h4>
                    <span class="text-muted">Du lịch miệt vườn</span>
                    <hr></hr>
                    <p>Đây là điểm có nhiều hoạt động, dịch vụ: vui chơi giải trí, nhà hàng ăn uống, biểu diễn sân khấu, lưu trú… Hệ thống cây xanh, hoa trái, bể bơi, ao cá, đu quay… được bố trí hợp lý, hài hoà, gần gũi với thiên nhiên vừa yên tĩnh nhưng vẫn sinh động.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/KDLbinhan" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/SocTrang/ChuaDatSet.jpg"    class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chùa Đất Sét</h4>
                    <span class="text-muted">Du lịch tâm linh</span>
                    <hr></hr>
                    <p>Hiện nay mỗi ngày chùa đón trên 200 du khách và phật tử đến tham quan. Đây được xem là ngôi chùa độc nhất vô nhị ở Việt Nam vì có trên 10.000 tượng lớn nhỏ được làm từ đất sét,là địa chỉ thu hút du khách mỗi khi đến Sóc Trăng.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chuadatset" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/SocTrang/ChuaDoi.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chùa Dơi</h4>
                    <span class="text-muted">Du lịch tâm linh</span>
                    <hr></hr>
                    <p>Đi Sóc Trăng, mọi người đều nhắc là phải vào chùa Dơi thăm quan. Với những người ưa khám phá, thì chùa Dơi luôn là điểm đến lý tưởng và với nhiều điều bí ẩn mà con người không thể lý giải được.</p><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chuadoi" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
         




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
