@{
    ViewBag.Title = "TienGiang";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">
       
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/TienGiang/ChuaVinhTrang.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chùa Vĩnh Tràng</h4>
                    <span class="text-muted">Du lịch tâm linh</span>
                    <hr></hr>
                    <p>Chùa Vĩnh Tràng là ngôi chùa thờ Phật lớn nhất tỉnh Tiền Giang, chùa mang dáng vẻ kiến trúc châu Á pha lẫn châu Âu.</p><br><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chuavinhtrang" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/TienGiang/MietVuonCaiBe.JPG"   class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Miệt vườn Cái Bè</h4>
                    <span class="text-muted">Du lịch miệt vườn</span>
                    <hr></hr>
                    <p>Trong những năm gần đây, Cái Bè không chỉ là vựa trái cây lớn vào bậc nhất ĐBSCL mà còn là điểm dừng chân tham quan của nhiều du khách quốc tế. Đặc biệt, từ khi cầu Mỹ Thuận được khai thông. Cái Bè như gặp vận hội mới để phát triển du lịch sinh thái vườn.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/culaoTS" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="/Images/13T_DiaDiem/TienGiang/TraiRanDongTam.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Trại rắn Đồng Tâm</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Được xem là du lịch sinh thái kết hợp với khoa học, vì nơi đây có quang cảnh mát mẻ yên tĩnh, nhiều cây trái thơm ngon, mang tính đặc thù của vùng sông nước Miền tây.</p><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/trairan" role="button">Chi tiết &raquo;</a></p>
                </div>
               
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/TienGiang/ChoNoiCaiBe.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chợ nổi Cái Bè</h4>
                    <span class="text-muted">Du lịch miệt vườn</span>
                    <hr></hr>
                    <p>Chợ Cái Bè là chợ đầu mối lớn nhất ở miền Tây Nam Bộ. Chợ diễn ra trên sông, họp suốt ngày đêm trên quy mô lớn. Hàng hoá rất đa dạng, phong phú.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chonoiCB" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
            





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
