@{
    ViewBag.Title = "TraVinh";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/TraVinh/AoBaOm.jpg" class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Ao Bà Om</h4>
                    <span class="text-muted">Du lịch biển</span>
                    <hr></hr>
                    <p>Mặt ao phẳng lặng, trong xanh, soi bóng những hàng cây cổ thụ bao quanh. Trải qua bao mưa gió, bộ rễ của những cây cổ thụ xung quanh ao lồi lên trên mặt đất và được thiên nhiên tác tạo thành những hình thù lạ mắt.</p><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/aobaom" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/TraVinh/BienBaDong.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Bãi biển Ba Động</h4>
                    <span class="text-muted">Du lịch biển</span>
                    <hr></hr>
                    <p>Biển Ba Động đẹp bởi vẫn còn giữ được nét hoang sơ với cát trắng nước trong, không khí trong lành và yên tĩnh.Nơi đây có những đụn cát “nhấp nhô”, với những hàng phi lao xanh vút và bãi cát phẳng lì trải dài đầy hấp dẫn.</p><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/badong" role="button">Chi tiết &raquo;</a></p>
                </div>
         
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/TraVinh/ChuaAng.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chùa Âng</h4>
                    <span class="text-muted">Du lịch tâm linh</span>
                    <hr></hr>
                    <p>Chùa Âng là một trong những ngôi chùa cổ nhất trong hệ thống chùa Khmer ở Trà Vinh. Chùa có kiến trúc cổ, độc đáo, hài hoà trong cảnh sắc thiên nhiên. Chùa Âng đã được bộ Văn hoá Thông tin công nhận là di tích văn hoá của quốc gia.</p><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chuaang" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                   

                    <img src="/Images/13T_DiaDiem/TraVinh/ChuaHang.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chùa Hang</h4>
                    <span class="text-muted">Du lịch tâm linh</span>
                    <hr></hr>
                    <p>Là ngôi chùa Khmer cổ, toạ lạc trên mảnh đất rộng 10 ha, có nhiều cây cổ thụ và là nơi hội tụ của nhiều loại chim. Chùa Hang là một trong những chùa đẹp nhất ở tỉnh Trà Vinh.</p><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chuahang" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
            




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
