@{
    ViewBag.Title = "VinhLong";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Địa danh nổi tiếng</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">

                    <img src="/Images/13T_DiaDiem/VinhLong/chuatienchau.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Chùa Tiên Châu</h4>
                    <span class="text-muted">Du lịch tâm linh</span>
                    <hr></hr>
                    <p>Chùa Tiên Châu do Hoà thượng Đức Hội lập vào khoảng thế kỷ 19 trên một khu đất rộng, thoáng mát. Chùa còn có tên là chùa Di – Đà hay Tô Châu.</p><br><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/chuatienchau" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/VinhLong/trangtraivinhsan.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Trang trại Vinh Sang</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Khu du lịch sinh thái Vinh Sang có một cảnh quan hấp dẫn, thu hút 2.000 – 3.000 lượt khách. Đặc biệt nơi đây rất thích hợp để tổ chức các sự kiện vui chơi dã ngoại, team building, lửa trại, buffet ngoài trời.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/vinhsan" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/VinhLong/vanthanhmieu.jpg"    class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Văn thánh Miếu</h4>
                    <span class="text-muted">Du lịch tâm linh</span>
                    <hr></hr>
                    <p>Văn Miếu là điểm son của đất Vĩnh Long – xứ sở địa linh nhân kiệt.Nơi đây thờ Khổng Tử trong ngôi nhà cổ kính ba gian hai chái, chứng tỏ sự phát triển và ảnh hưởng sâu sắc của nho giáo đến cư dân các tỉnh Nam Bộ.</p><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/vanthanhmieu" role="button">Chi tiết &raquo;</a></p>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">


                    <img src="/Images/13T_DiaDiem/VinhLong/culaoanbinh.jpg"  class="img-circle" style="width: 200px; height: 200px;" alt="">
                    <h4>Cù lao An Bình</h4>
                    <span class="text-muted">Du lịch sinh thái</span>
                    <hr></hr>
                    <p>Cù lao rộng khoảng 60km2, đất đai màu mỡ và trù phú, nước ngọt quanh năm, dân cư trồng nhiều cây ăn trái như: chôm chôm, xoài, nhãn, sầu riêng, sapôchê…</p><br><br>
                    <p><a class="btn btn-default" href="http://localhost:60785/Places/culao" role="button">Chi tiết &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
            





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
