@{
    Layout = null;
}

<!DOCTYPE html>

@{
    ViewBag.Title = "Sổ Tay Du Lịch Miền Tây";
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sổ Tay Du Lịch Miền Tây</title>
    <!-- Bootstrap Core CSS -->

    <link href="~/Content/FirstLoad/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="~/Content/FirstLoad/css/stylish-portfolio.css" rel="stylesheet" />
    <!-- Custom Fonts -->

    <link href="~/Content/FirstLoad/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Cần sửa</a>
            </li>
            <li>
                <a href="#top">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>

        </ul>
    </nav>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Sổ Tay Du Lịch Miền Tây</h1>
            <h3>Chào mừng đến với trang web của chúng tôi</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Tham quan ngay nào</a>
        </div>
    </header>
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><a style="color: seagreen" href="http://localhost:60785/TrangHome/TrangChu"><b>Sổ Tay Du Lịch Miền Tây</b></a></h2>
                    <p class="lead">
                        Trang web được xây dựng dựa theo nhu cầu tìm hiểu về các tỉnh miền Tây Nam Bộ.
                        Chúng tôi mong muốn trang web này sẽ là cầu nối giúp mọi người hiểu rõ hơn về cuộc sống sông nước
                        và văn hóa miền Tây Nam Bộ thông qua <a style="color: seagreen"href="http://localhost:60785/TrangHome/TrangChu"><b>Sổ Tay Du Lịch Miền Tây</b></a>.
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    
    <!-- Map -->
    <section id="contact" class="map">
        <table style="margin: auto; border-collapse: separate; border-spacing: 10px;">
            <tr>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=v%C4%A9nh+long&amp;aq=&amp;sll=9.432806,107.199097&amp;sspn=4.003735,5.817261&amp;ie=UTF8&amp;hq=&amp;hnear=V%C4%A9nh+Long,+Vi%E1%BB%87t+Nam&amp;ll=10.086128,106.016997&amp;spn=0.999513,1.454315&amp;t=m&amp;z=10&amp;output=embed"></iframe>

                </td>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=Long+an&amp;aq=&amp;sll=9.972908,106.24054&amp;sspn=0.999513,1.454315&amp;ie=UTF8&amp;hq=&amp;hnear=Long+An,+Vi%E1%BB%87t+Nam&amp;t=m&amp;z=9&amp;ll=10.695572,106.24312&amp;output=embed"></iframe>

                </td>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=B%E1%BA%BFn+Tre,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=B%E1%BA%BFn+tre&amp;sll=11.55538,107.050781&amp;sspn=7.948073,11.634521&amp;ie=UTF8&amp;hq=&amp;hnear=B%E1%BA%BFn+Tre,+Vi%E1%BB%87t+Nam&amp;ll=10.108155,106.440587&amp;spn=1.998773,2.90863&amp;t=m&amp;z=9&amp;iwloc=A&amp;output=embed"></iframe>

                </td>
            </tr>
            <tr>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=C%E1%BA%A7n+Th%C6%A1,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=C%E1%BA%A7n+Th%C6%A1&amp;sll=10.00131,106.594849&amp;sspn=1.998773,2.90863&amp;ie=UTF8&amp;hq=&amp;hnear=C%E1%BA%A7n+Th%C6%A1,+Ninh+Ki%E1%BB%81u,+C%E1%BA%A7n+Th%C6%A1,+Vi%E1%BB%87t+Nam&amp;ll=10.045162,105.746854&amp;spn=0.249837,0.363579&amp;t=m&amp;z=12&amp;output=embed"></iframe>

                </td>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=An+Giang,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=an+giang&amp;sll=9.824959,105.125896&amp;sspn=1.999846,2.90863&amp;ie=UTF8&amp;hq=&amp;hnear=An+Giang,+Vi%E1%BB%87t+Nam&amp;ll=10.521584,105.125896&amp;spn=1.996814,2.90863&amp;t=m&amp;z=9&amp;output=embed"></iframe>

                </td>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=Ki%C3%AAn+Giang,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=Ki%C3%AAn+Giang&amp;sll=10.521584,105.125896&amp;sspn=0.997784,1.454315&amp;ie=UTF8&amp;hq=&amp;hnear=t%E1%BB%89nh+Ki%C3%AAn+Giang,+Vi%E1%BB%87t+Nam&amp;t=m&amp;z=9&amp;ll=9.824959,105.125896&amp;output=embed"></iframe>

                </td>
            </tr>
            <tr>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=%C4%90%E1%BB%93ng+Th%C3%A1p,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=%C4%91%E1%BB%93ng+th%C3%A1p&amp;sll=10.314919,105.295715&amp;sspn=1.996814,2.90863&amp;ie=UTF8&amp;hq=&amp;hnear=%C4%90%E1%BB%93ng+Th%C3%A1p,+Vi%E1%BB%87t+Nam&amp;ll=10.493799,105.688179&amp;spn=1.9969,2.90863&amp;t=m&amp;z=9&amp;output=embed"></iframe>

                </td>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=H%E1%BA%ADu+Giang,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=h%E1%BA%ADu+giang&amp;sll=10.301408,106.149902&amp;sspn=1.9969,2.90863&amp;ie=UTF8&amp;hq=&amp;hnear=H%E1%BA%ADu+Giang,+Vi%E1%BB%87t+Nam&amp;ll=9.757898,105.641253&amp;spn=1.000166,1.454315&amp;t=m&amp;z=10&amp;output=embed"></iframe>

                </td>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=Tr%C3%A0+Vinh,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=Tr%C3%A0+Vinh&amp;sll=9.757784,105.731049&amp;sspn=1.000166,1.454315&amp;ie=UTF8&amp;hq=&amp;hnear=Tr%C3%A0+Vinh,+Vi%E1%BB%87t+Nam&amp;ll=9.757784,105.731049&amp;spn=1.999928,2.90863&amp;t=m&amp;z=9&amp;output=embed"></iframe>

                </td>
            </tr>
            <tr>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=Ti%E1%BB%81n+Giang,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=ti%E1%BB%81n+&amp;sll=9.811916,106.748657&amp;sspn=1.999928,2.90863&amp;ie=UTF8&amp;hq=&amp;hnear=Ti%E1%BB%81n+Giang,+Vi%E1%BB%87t+Nam&amp;ll=10.449332,106.34205&amp;spn=1.995935,2.90863&amp;t=m&amp;z=9&amp;output=embed"></iframe>

                </td>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=B%E1%BA%A1c+Li%C3%AAu,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=bac&amp;sll=9.178025,105.463257&amp;sspn=4.006651,5.817261&amp;ie=UTF8&amp;hq=&amp;hnear=B%E1%BA%A1c+Li%C3%AAu,+Vi%E1%BB%87t+Nam&amp;ll=9.251556,105.513647&amp;spn=3.998659,5.817261&amp;t=m&amp;z=8&amp;output=embed"></iframe>

                </td>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=Ki%C3%AAn+Giang,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=kien&amp;sll=9.860628,106.02356&amp;sspn=3.998659,5.817261&amp;ie=UTF8&amp;hq=&amp;hnear=t%E1%BB%89nh+Ki%C3%AAn+Giang,+Vi%E1%BB%87t+Nam&amp;ll=9.824959,105.125896&amp;spn=3.983684,5.817261&amp;t=m&amp;z=8&amp;output=embed"></iframe>

                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <iframe width="350" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=C%C3%A0+Mau,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=c%C3%A0+mau&amp;sll=9.291886,105.441284&amp;sspn=4.005358,5.817261&amp;ie=UTF8&amp;hq=&amp;hnear=C%C3%A0+Mau,+Vi%E1%BB%87t+Nam&amp;ll=8.96241,105.125896&amp;spn=4.006651,5.817261&amp;t=m&amp;z=8&amp;output=embed"></iframe>

                </td>
                <td></td>
            </tr>
        </table>
    </section>



   
    <!-- jQuery -->

    <script src="~/Content/FirstLoad/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="~/Content/FirstLoad/js/bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Opens the sidebar menu
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });

        // Scrolls to the selected menu item on the page
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
</body>
</html>