@{
    ViewBag.Title = "aobaom";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Ao Bà Om</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/TraVinh/Ao%20B%c3%a0%20Om.jpg" class="img-circle" style="width: 420px; height: 380px;" alt="">
                </div>

                <p>
                    Ao Bà Om có hình chữ nhật với chiều dài 500 mét và chiều rộng 300 mét.
                    <br>
                    <br>
                    Ở đó du khách không đơn thuần chỉ được chiêm ngưỡng vẻ đẹp thơ mộng của thiên nhiên mà còn được cảm nhận rõ nét hơn những giá trị văn hoá đặc sắc của vùng đất Trà Vinh qua câu chuyện truyền thuyết mang đậm màu sắc Khmer Nam bộ…
                    <br>
                    <br>
                    Ao Bà Om mát mẻ, trong lành và yên tĩnh suốt cả ngày, không gian chỉ chợt xao động lên vào lúc chiều tà, khi những đàn cò bay về tìm chỗ ngủ.
                    <br>
                    <br>
                    Bên cạnh ao là ngôi chùa Âng, ngôi chùa Khmer cổ nhất Trà Vinh được xây dựng từ năm 990, và Bảo tàng văn hoá Khmer cũng được đặt ở đây. Quần thể “bộ ba”: ao Bà Om, chùa Âng và Bảo tàng văn hoá Khmer được xác định là địa điểm du lịch hàng đầu trong chiến lược phát triển du lịch của tỉnh Trà Vinh trong thời gian tới.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
           
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/badong">Bãi biển Ba Động</a></li>
                    <li><a href="http://localhost:60785/Places/chuahang">Chùa Nodol-Chùa Cò</a></li>
                    <li><a href="http://localhost:60785/Places/aobaom">Ao Bà Om</a></li>
                    <li><a href="http://localhost:60785/Places/chuaang">Chùa Âng</a></li>

                </ol>
            </div>
          
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
