@{
    ViewBag.Title = "badong";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Bãi biển Ba Động</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/TraVinh/bien-ba-dong.jpg"  class="img-circle" style="width: 420px; height: 380px;" alt="">
                </div>

                <p>
                    Biển Ba Động được khai thác từ rất sớm. Trước đây, người Pháp đã cho xây trên bãi biển đẹp nhất của Trường Long Hòa một khu nghỉ mát để thường xuyên đến nghỉ và tắm biển.
                    <br>
                    <br>
                    Nhiều công trình, hạng mục, cơ sở hạ tầng đã được đầu tư phục vụ cho việc khai thác tiềm năng du lịch ở biển Ba Động như cầu Long Toàn, Kinh Xáng, bãi Đồn, phà Láng Chim… thưởng thức nhiều loại sản vật đã trở thành đặc sản của vùng quê ven biển này như dưa hấu Ba Động, nghêu Nhà Mát, tôm sú Cồn Cù, đuôn Chà là, cá Kèo kho gợt – Chù ụ rang me, nước mắm Rươi….
                    <br>
                    <br>
                    Đây là một trong những khu du lịch hấp dẫn ở các tỉnh miền Tây.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/badong">Bãi biển Ba Động</a></li>
                    <li><a href="http://localhost:60785/Places/chuahang">Chùa Nodol-Chùa Cò</a></li>
                    <li><a href="http://localhost:60785/Places/aobaom">Ao Bà Om</a></li>
                    <li><a href="http://localhost:60785/Places/chuaang">Chùa Âng</a></li>

                </ol>
            </div>
         
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
