@{
    ViewBag.Title = "binhta";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Khu di tích lịch sử Bình Tả</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/LongAn/BinhTa.jpg"  class="img-circle" style="width: 500px; height: 200px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>
                <p>Khu di tích khảo cổ học Bình Tả thuộc xã Đức Hòa Hạ, huyện Đức Hòa, tỉnh Long An, nằm về hướng đông bắc thành phố Tân An. Cách Tân An 40 km theo lộ trình Tân An - Bến Lức- thị trấn Đức Hòa và nằm cách tỉnh lộ 825 tám trăm mét về phía đông<br>
                <p><b>Di tích Gò Xoài</b></p>
                Là một di tích kiến trúc xây bằng gạch, có dạng gần vuông với mỗi cạnh dài khoảng 20 mét, nền móng của kiến trúc có cấu tạo rất chắc chắn và phức tạp, gồm nhiều loại vật liệu khác nhau như cuội basalt (badan), sỏi đỏ, cát trắng, cá thồng.
                <br>


                <p><b>Di tích Gò Đồn</b></p>
                Là loại kiến trúc đền tháp xây bằng gạch, chiều dài đông - tây 78,5mét; chiều ngang chỗ rộng nhất đo được 60 mét (chiềubắc- nam), toàn bộ kiến trúc trước khi khai quật đều nằm trong lòng đất, chỗ gần mặt đất nhất là 0,4 mét. Cuộc khai quật đã thu thập được nhiều hiện vật bằng đá như tượng thần Dvarapala (thần giữ đền), đầu tượng thần Ganesa (phúc thần), nhiều vật thờ như linga, yoni…
                <br>
                <p><b>Di tích Gò Năm Tước</b></p>
                Là một di tích kiến trúc xây bằng gạch, dài 17,20mét; rộng 11,10 mét, phần trên của kiến trúc đã bị mất nhưng ở phần nền móng còn giữ được những đặc điểm của kiến trúc thuộc văn hóa Óc Eo như cấu trúc bẻ góc, các đường móng gạch rất thẳng, tam quan hình bán nguyệt hướng về phía đông là cơ sở đển hận định đây là một kiến trúc đền thờ Ấn Độ Giáo.
                <br>
                </p>


                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/dongthap10">Khu du lịch sinh thái Đồng Tháp Mười</a></li>
                    <li><a href="http://localhost:60785/Places/chuatonthanh">Chùa Tôn Thạnh</a></li>
                    <li><a href="http://localhost:60785/Places/binhta">Di tích lịch sử Bình Tả</a></li>

                </ol>
            </div>
          
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>