@{
    ViewBag.Title = "chonoiPH";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}
<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Khu vui chơi sinh thái Tây Đô</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/HauGiang/PhungHiep.jpg"  style="width: 500px; height: 200px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>
                <p>
                    Chợ nổi Phụng Hiệp, còn gọi là chợ Ngã Bảy , là một chợ nổi thuộc thị xã Ngã Bảy được hình thành từ năm 1915. Đây là chợ nổi nổi tiếng của tỉnh Hậu Giang, là nơi diễn ra các hoạt động mua bán, trao đổi hàng hóa của cư dân miền sông nước đồng bằng sông Cửu Long. Nơi đây không chỉ nơi buôn bán hàng hóa mà còn là địa điểm thu hút khách du lịch.<br>
                    <b>Lịch sử</b><br>
                    Chợ hình thành từ năm 1915, hầu hết các con sông đều đổ ra Ngã Bảy. Lúc bấy giờ, có hơn 300 chiếc thuyền tụ tập về đây mỗi ngày. Đây có thể được xem là trung tâm đầu mối và là chợ nổi khá sầm uất. Cũng chính ngay chợ Ngã Bảy đã hình thành nghề xóm làm ghe (chèo), làng nghề đóng ghe truyền thống ở đầu "doi" Tân Thới Hoà, doi Chành, doi Cát dài hơn 1 km tồn tại trên nửa thế kỷ với mấy trăm hộ ăn nên làm ra cũng nhờ chợ Ngã Bảy.<br>

                    Chợ nổi Ngã Bảy ra đời sau 10 năm đào kinh xáng, bảy ngã sông hình thành (Cái Côn, Xẻo Môn, Bún Tàu, Lái Hiếu...). Do sức lan toả, tác động quá lớn, vùng trung tâm lập tức trở thành đầu mối giao thông thuỷ lớn nhất Nam Kỳ song hành với một trung tâm giao thương hàng hoá lớn của cả miền cực Nam, tác động mạnh đến thị trường nông sản miền Tây. "Ngôi sao Phụng Hiệp" - như người Pháp thường gọi - còn được dự kiến lập thành thương cảng cho cả vùng Hậu Giang mênh mông ngày trước.<br>
                    <b>Đặc điểm</b><br>
                    Ở Nam Bộ với mạng lưới kênh rạch chằng chịt, con người gắn bó với cuộc sống sông nước miệt vườn. Chợ nổi là một hình thức sinh hoạt độc đáo. Đồng bằng sông Cửu Long có 3 chợ nổi lớn: chợ nổi Cái Răng Cần Thơ, chợ nổi Phụng Hiệp Hậu Giang và chợ nổi Cái Bè Tiền Giang. Trong đó, chợ nổi Phụng Hiệp được xem là chợ nổi độc đáo nhất và lớn nhất.<br>

                    Chợ Ngã Bảy là chợ tổng hợp, có thể mua sỉ, bán lẻ; phong phú đa dạng đủ loại hàng hóa mang đặc trưng sắc màu cuộc sống Nam Bộ. Thời mở cửa, sản phẩm đồng bằng theo dòng nước lớn qua Ngã Bảy, ra tận đất Bắc, vượt biên giới đến với bạn bè năm châu.<br>

                    Du khách tới đây sẽ cảm thấy bạt ngàn màu sắc của trái cây, rau, các đồ dùng sinh hoạt miền sông nước. Đặc biệt là màu đỏ tươi của chôm chôm, màu ruốc chín của măng cụt, vị thơm của sầu riêng. Mỗi thuyền chỉ bán một loại trái cây, và loại trái đó sẽ được treo lên một cây sào cao tượng trưng như là để thông báo rằng: "tôi là nhãn", "còn tôi là xoài".<br>

                    Đặc biệt ở chợ nổi còn có chợ rắn. Chợ Phụng Hiệp quanh năm có rắn, rùa, chim, sóc, kỳ đà… phục vụ du khách. Bên cạnh đó, những xuồng ba lá, những ghe nhỏ xíu là: bánh cuốn nóng, phở, bánh xèo là những món đặc trưng ẩm thực phương Nam.<br>

                    Chợ Ngã Bảy có lượng hàng hóa đa dạng và rất phong phú, nhất là trái cây, hàng nông sản, ngoài ra còn có chiếu, hang thủ công mỹ nghệ, đồ gia dụng cho đến hàng gia cầm, thủy hải sản… cho tới cả đồ ăn, thức uống cũng không thiếu.<br>

                    Đây là chợ nổi lớn nhất trong các chợ nổi và lừng danh cả nước, chợ Ngã Bảy "nổi" nhất về quy mô, sự sung túc.<br>

                    Chợ Ngã Bảy là chợ tổng hợp, có thể mua sỉ, bán lẻ; phong phú đa dạng đủ loại hàng hoá, đặc biệt như phơi hết sắc màu cây trái Nam Bộ, đặc sản miền Tây. Thời mở cửa, sản phẩm đồng bằng theo nước ròng nước lớn, qua Ngã Bảy, ra tận đất Bắc, vượt biên giới đến năm châu...<br>

                    <div class="col-md-2">

                    </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
             
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/denthoBH">Đền thờ Bác Hồ</a></li>
                    <li><a href="http://localhost:60785/Places/lungngochoang">Khu bảo tồn thiên nhiên Lung Ngọc Hoàng</a></li>
                    <li><a href="http://localhost:60785/Places/chonoiPH">Chợ nổi Phùng Hiệp</a></li>
                </ol>
            </div>
          
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
