@{
    ViewBag.Title = "chonoinga5";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Chợ nổi Ngã Năm</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/SocTrang/Ch%e1%bb%a3%20n%e1%bb%95i%20Ng%c3%a3%20N%c4%83m.jpg"  class="img-circle" style="width: 400px; height: 400px;" alt="">
                </div>

                <p>
                    Từ mờ sáng, hàng trăm ghe xuồng đã tụ về họp chợ. Người ta bán đủ thứ từ trái cây, rau thịt, cá…cho đến hàng công nghệ, tiêu dùng. Những lời mời chào mang đậm đà chất Nam Bộ, tiếng nói cười rộn rã làm náo nhiệt cả một khúc sông. Thú vị nhất là khi được ngồi trên thuyền đong đưa theo sống nước, thưởng thức các món ăn được bày bán trên sông: bún nước lèo, mì, hủ tiếu, xôi…Khi mặt trời lên cao “qua khỏi ngọn dừa”, cũng là lúc mọi người chuẩn bị quay về cho công việc đồng áng của một ngày mới.

                    Ðến nay chợ nổi Ngã Năm vẫn giữ được nét sinh hoạt đặc trưng văn hoá của chợ nổi khu vực đồng bằng Nam Bộ. Chợ nổi Ngã Năm là một địa chỉ du lịch hấp dẫn du khách trong và ngoài nước.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/chonoinga5">Chợ nổi Ngã Năm</a></li>
                    <li><a href="http://localhost:60785/Places/chuadatset">Chùa Đất Sét</a></li>
                    <li><a href="http://localhost:60785/Places/chuadoi">Chùa Dơi</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
