@{
    ViewBag.Title = "chonoiCB";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Chợ nổi Cái Bè</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/TienGiang/Ch%e1%bb%a3%20n%e1%bb%95i%20C%c3%a1i%20B%c3%a8.jpg" class="img-circle" style="width: 430px; height: 430px;" alt="">
                </div>

                <p>
                    Chợ Cái Bè là chợ đầu mối lớn nhất ở miền Tây Nam Bộ. Chợ diễn ra trên sông, họp suốt ngày đêm trên quy mô lớn. Hàng hoá rất đa dạng, phong phú.
                    <br>
                    <br>
                    Chợ Cái Bè diễn ra trên sông, ghe thuyền đi lại như mắc cửi. Chợ họp suốt ngày đêm trên một quy mô lớn, có đủ các ghe thuyền từ miệt vườn xa xôi về đây bán hàng và mua hàng. Chính vì vậy mà hàng hóa ở chợ rất phong phú và đa dạng, từ hàng vái, đồ gia dụng cho đến hàng gia cầm, thủy hải sản… cho tới cả đồ ăn, thức uống cũng không thiếu.
                    <br>
                    <br>
                    Khu bán gạo, cám thì nằm riêng biệt ở một khúc sông. Nét độc đáo của chợ nổi là ghe thuyền bán thứ gì thì treo thứ ấy lên đầu ngọn sào để người mua biết, không phải rao mời.
                    <br>
                    <br>
                    Khi mặt trời khuất sau rặng cây phía xa xa thì cũng là lúc “thành phố nổi” lên đèn. Ban đêm chợ nổi đèn đóm sáng trưng trông như sao sa. Có những chiếc ghe treo những chiếc đèn lồng nho nhỏ ở trước mũi thuyền trông thật sinh động.
                    <br>
                    <br>
                    Chợ nổi Cái Bè là một trong những điểm tham quan đặc sắc nhất ở Tiền Giang. Đây là một nét văn hóa rất đặc sắc ở các tỉnh miền Tây , thu hút rất nhiều du khách, đặc biệt là khách nước ngoài
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
            
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/chonoi">Chợ nổi Cái Bè</a></li>
                    <li><a href="http://localhost:60785/Places/culaoTS">Cù lao Thới Sơn</a></li>

                    <li><a href="http://localhost:60785/Places/chuavinhtrang">Chùa Vĩnh Tràng</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
