@{
    ViewBag.Title = "chuaquanam";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Chùa Quan Âm</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/CaMau/ChuaQuanAm.jpg"  align="center" class="img-circle" style="width: 450px; height: 450px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


               
                <p>
                    Tên thường gọi: Chùa Quan Âm Cổ Tự hay Chùa Phật Tổ. <br>

                    Chùa tọa lạc ở số 84/14 đường Rạch Chùa, phường 4, thành phố Cà Mau, tỉnh Cà Mau. ĐT: 0780.831370. Chùa thuộc hệ phái Bắc tông.<br>

                    Chùa do Hòa thượng Tô Quang Xuân dựng vào giữa thế kỷ XIX, bấy giờ chỉ là một am nhỏ để ngài tu hành và chữa bệnh cho dân. Sau ngài về tu ở chùa Kim Chương (Gia Định) lấy pháp hiệu là Thượng Trí hạ Tâm. Vua Thiệu Trị đã sắc phong Hòa thượng cho ngài năm 1842 và sắc tứ chùa Quan Âm.<br>

                    Kiến trúc chùa hiện nay được các Hòa thượng Thích Thiện Tường và Thích Thiện Đức xây dựng năm 1936.<br>

                    Điện Phật được bài trí trang nghiêm. Chính giữa tôn trí tượng Di Đà Tam Tôn (đức Phật A Di Đà, Bồ tát Quán Thế Âm và Bồ tát Đại Thế Chí). Bàn phía trước đặt tượng Thất Phật Dược Sư, Bồ tát Chuẩn Đề, Bồ tát Phổ Hiền, Bồ tát Địa Tạng và Bồ tát Di Lặc. Nhà Tổ thờ tượng Tổ sư Đạt Ma, Bồ tát Quán Thế Âm, Bồ tát Địa Tạng và long vị chư Tổ. Tiền đường đặt thờ tượng Hộ Pháp và Tiêu Diện.<br>

                    Trong khuôn viên chùa có tháp mộ của Hòa thượng Thích Trí Tâm, một danh tăng ở miền Nam, với nhiều truyền thuyết về ngài, biết trước những việc sắp xảy ra và chữa lành những bệnh nan y cho nhiều người và thú vật. Ngài được người dân địa phương tôn là Phật tổ Cà Mau. Hòa thượng Thích Trí Quảng, Phó Chủ tịch kiêm Trưởng Ban Hoằng pháp Trung ương Giáo hội Phật giáo Việt Nam đến viếng tháp Ngài nhân ngày giỗ lần thứ 160 (22 – 7 – 2001), đã cảm ứng thốt lên hai câu tán thán công hạnh của vị Tổ khai sơn chùa Quan Âm:<br>

                    Trí huệ quang minh siêu nhựt nguyệt,<br>

                    Tâm từ vô lượng tế quần sanh.<br>

                    (Trích Báo Giác Ngộ số 80, ngày 08 – 8 – 2001)<br>

                    Trụ trì chùa hiện nay là Hòa thượng Thích Thiện Từ, đương nhiệm Ủy viên Hội đồng Trị sự Trung ương Giáo hội Phật giáo Việt Nam, Trưởng Ban Trị sự Phật giáo tỉnh Cà Mau.<br>

                    Chùa hiện là điểm An cư kiết hạ hàng năm của chư Tăng trong tỉnh.<br>

                    Chùa đặt văn phòng Ban Trị sự Phật giáo tỉnh Cà Mau.<br>
                </p>


                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/muicamau">Mũi Cà Mau</a></li>
                    <li><a href="http://localhost:60785/Places/runguminh">Rừng U Minh</a></li>
                    <li><a href="http://localhost:60785/Places/daohonkhoai">Đảo Hòn Khoai</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
