@{
    ViewBag.Title = "chuadoi";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Chùa Dơi</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/SocTrang/Ch%c3%b9a%20D%c6%a1i.jpg"  class="img-circle" style="width: 450px; height: 290px;" alt="">
                </div>

                <p>
                    Chùa Dơi là một ngôi chùa đẹp, thanh bình với thiên nhiên xanh, là nơi cư trú của hàng vạn con dơi quạ.
                    <br />
                    Người Sóc Trăng gọi chùa Dơi là chùa Mã Tộc. Thượng tọa Kim Rêne, trụ trì đời thứ 19, nói: Chùa có tên chính thức là Mahatup.Những tên khác như chùa Dơi là được gắn với việc ở chùa có rất nhiều con dơi sinh sống. Chùa Đất sét là tên mà người ta đặt cho chùa bởi có nhiều pho tượng quý được tạc bằng chất liệu đất sét. Đã nhiều năm trôi qua, những pho tượng này vẫn còn vẹn nguyên giá trị nghệ thuật, tâm linh đối với người Khmer.
                    <br />
                    Chùa gồm 3 công trình kiến trúc chính là chánh điện, Sala và nhà thờ cố lục cả Thạch Chia, người có công trong việc trùng tu lại ngôi chùa. Tất cả đều được xây dựng theo lối kiến trúc truyền thống Khmer ở các tỉnh miền Tây Nam Bộ.
                    <br />
                    Choạng vạng tối, dơi rủ nhau đi tìm thức ăn, bay đen kín cả một trời đến vài tiếng mới hết. Sáng ra, khoảng 4h sáng là chúng bắt đầu bay về và rải rác cho đến 7h. Thức ăn của dơi là trái cây ngọt. Dơi bay đi tìm thức ăn ở rất xa, quanh vùng đồng bằng sông Tiền, sông Hậu – nơi có miệt vườn với nhiều loại trái cây ngọt, thơm.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/chonoinga5">Chợ nổi Ngã Năm</a></li>
                    <li><a href="http://localhost:60785/Places/chuadatset">Chùa Đất Sét</a></li>
                    <li><a href="http://localhost:60785/Places/chuadoi">Chùa Dơi</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
