@{
    ViewBag.Title = "chuadatset";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Chùa Đất Sét</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/SocTrang/Ch%c3%b9a%20%c4%90%e1%ba%a5t%20S%c3%a9t.jpg"    class="img-circle" style="width: 450px; height: 310px;" alt="">
                </div>

                <p>
                    Chùa Đất Sét có tên chữ là Bửu Sơn tự. Nhìn bề ngoài nó giống như các ngôi nhà dân khác. Ngôi nhà không lớn, mái lợp tôn, vách ván, khung bằng gỗ dầu, gỗ đước. Gia đình họ Ngô lập am thờ này để tu tại gia qua nhiều đời, vì vậy chùa không có sư, chỉ có người trong gia đình quản lý.
                    <br />
                    Bước vào bên trong, sau khi được giới thiệu tỷ mỷ ta mới cảm phục sức lao động bền bỉ, sáng tạo phi thường của ông Ngô Kim Tòng – người đã dồn hết sức lực trong suốt 42 năm dòng dã để tạo nên 1901 bức tượng Phật, trên 200 mẫu tượng thú, bảo tháp, lư hương… đều bằng đất sét.
                    <br />
                    Chùa Đất Sét không chỉ nổi tiếng bởi các pho tượng làm bằng đất sét mà còn 8 cặp đèn cầy lớn, mỗi cây cao 2,6m, ngang 1m (chứa 200kg sáp), được dòng họ Ngô đúc năm 1940. Hiện nay hai đèn nhỏ cháy suốt ngày đêm từ khi ông Ngô Kim Tòng qua đời (ngày 18-7-1970 đến nay). Nếu cháy hết sáp phải vào cuối năm 2006. Bình quân mỗi cây đèn cháy suốt ngày đêm phải mất 70-80 năm.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
             
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/chonoinga5">Chợ nổi Ngã Năm</a></li>
                    <li><a href="http://localhost:60785/Places/chuadatset">Chùa Đất Sét</a></li>
                    <li><a href="http://localhost:60785/Places/chuadoi">Chùa Dơi</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
