@{
    ViewBag.Title = "chuahang";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Chùa Hang</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/TraVinh/chua%20hang.jpg"  class="img-circle" style="width: 420px; height: 380px;" alt="">
                </div>

                <p>
                    Từ thị xã Trà Vinh đi 5km theo hướng nam (thuộc khóm 3, thị trấn Châu Thành, huyện Châu Thành, tỉnh Trà Vinh) qua cống ngăn mặn Tầm Phương du khách sẽ đến chùa Hang. Khuôn viên chùa rộng, một nửa diện tích là rừng tự nhiên, cây cao rậm rạp, là nơi hội tụ của nhiều loài chim. Cổng chính hướng ra phía bờ sông, cổng phụ xây dựng vòm cuốn, tường rất dày. Hai bên cổng chính là hai tượng Yak to bằng người thật. Yak là chằn tinh, mắt lồi, nanh dài, mặc áo giáp, cầm gậy, rất hung ác nhưng được Phật cải hóa, cho làm bảo vệ.
                    <br>
                    <br>
                    Vai trò của chùa trong sóc (làng) rất quan trọng, nhà chùa đảm nhiệm phần giáo dục đạo đức và bảo tồn truyền thống văn hóa nghệ thuật. Thanh niên Miên có vài năm tu ở chùa mới kể như thành nhân, một điều kiện để dễ kiếm vợ. Trong khuôn viên chùa có trường học cho trẻ em rất qui mô. Trong chùa còn có khoảng hai chục nhà sàn nhỏ, mỗi nhà chỉ vừa đủ chỗ cho một người, là nơi để đàn ông Miên vào mỗi người một nhà, ở lại cả tháng để cầu nguyện và làm trong sạch linh hồn.
                    <br>
                    <br>
                    Sân Chùa Hang trước kia có đàn dơi đông vô kể, Tết Mậu Thân (1968) một quả bom rơi trúng chùa, 62 người chết, 57 người bị thương, chùa hư hại nặng, đàn dơi khiếp đảm bay mất. Ngày nay đàn cò đã trở về cả ngàn con, mỗi chiều đậu trắng cây, có ngày chùa nhặt vài chục cò con, các sư nuôi cho cứng cáp rồi thả. Chỉ riêng đàn dơi là mất tích hẳn.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
            
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/badong">Bãi biển Ba Động</a></li>
                    <li><a href="http://localhost:60785/Places/chuahang">Chùa Nodol-Chùa Cò</a></li>
                    <li><a href="http://localhost:60785/Places/aobaom">Ao Bà Om</a></li>
                    <li><a href="http://localhost:60785/Places/chuaang">Chùa Âng</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
