@{
    ViewBag.Title = "chuaang";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Chùa Âng</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/TraVinh/Ch%c3%b9a_%c3%82ng.jpg"  class="img-circle" style="width: 420px; height: 380px;" alt="">
                </div>

                <p>
                    Cổng chùa được trang trí tượng chằn, tiên nữ, chim thần theo mô – típ truyền thống, chùa Âng có hào nước sâu bao bọc xung quanh và một tháp năm ngọn. Đây là nơi lưu giữ tro xương các vị trụ trì đã qua đời. Theo truyền thuyết, chùa Âng được xây dựng vào cuối thế kỷ 10. Nhưng qua sổ sách lưu lại, kể từ vị trụ trì đầu tiên, ngôi chùa có trước năm 1715, được trùng tu năm 1842.
                    <br>
                    <br>
                    Nền chùa Âng cao 2m gồm 2 bậc. Rộng nhất là ngôi chính điện, nơi tập trung các tác phẩm nghệ thuật tiêu biểu. Cửa chùa mở về hai hướng đông và tây. Bên ngoài, trên đầu sáu cây cột trước chính điện, có chạm khắc hình tiên nữ, chim thần. Mái chùa lợp ngói, có ba tầng, được chống đỡ bởi 12 cột bằng gỗ quý, mái trên cùng dốc và cao hơn hai mái kia. Mỗi đầu hồi được đóng kín bằng một tấm gỗ hình tam giác, chạm khắc hình vị chủ thiên đội mâm và hoa hướng dương tinh xảo. Các diềm mái có hình rồng cách điệu, đầu chúc xuống, thân soãi theo dốc mái. Các vẩy uốn cong ngược lên làm cho dáng mái chùa như cao hơn.
                    <br>
                    <br>
                    Bên trong chính điện là gian phòng thờ Phật Thích ca, cũng là nơi tiến hành các nghi thức tôn giáo của Phật giáo Nam tông. Bệ thờ Phật rộng gần 30m² gồm bốn bậc. Tượng Phật chính cao 2,1m. Xung quanh có 50 tượng Phật khác nhỏ hơn (bằng đá hoặc gỗ). Ba phía vách chính điện có hàng chục tranh vẽ cuộc đời đức Phật. Trần chính điện được trang trí bốn bức bích họa lớn theo chủ đề: Phật đản sinh, xuất gia, đắc đạo, nhập niết bàn.
                    <br>
                    <br>
                    Với ưu thế giao thông thuận lợi, chùa Âng lại nằm liền kề Nhà bảo tàng văn hóa dân tộc Khmer và ao Bà Om, tạo thành một quần thể di tích thu hút nhiều du khách đến tham quan.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
             
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/badong">Bãi biển Ba Động</a></li>
                    <li><a href="http://localhost:60785/Places/chuahang">Chùa Nodol-Chùa Cò</a></li>
                    <li><a href="http://localhost:60785/Places/aobaom">Ao Bà Om</a></li>
                    <li><a href="http://localhost:60785/Places/chuaang">Chùa Âng</a></li>

                </ol>
            </div>
         
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
