@{
    ViewBag.Title = "chuavinhtrang";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Chùa Vĩnh Tràng</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/TienGiang/ch%c3%b9a%20V%c4%a9nh%20Tr%c3%a0ng.jpg"  class="img-circle" style="width: 360px; height: 360px;" alt="">
                </div>

                <p>
                    Chùa do ông bà Bùi Công Ðạt xây dựng vào khoảng đầu thế kỷ 19. Ðến năm 1849, Hòa thượng Huệ Ðăng ở chùa Giác Lâm (Gia Ðịnh) về trụ trì đã tổ chức xây dựng thành ngôi đại tự và đặt tên chùa Vĩnh Tràng.
                    Chùa gồm có 5 lớp với 2 sân cảnh, 178 cột. Năm 1907, Hòa thượng Chánh Hậu đã cho trùng kiến ngôi chùa mang cả kiến trúc Angkor và kiến trúc châu Âu. Quanh chùa có nhiều mộ tháp của những vị sư đã trụ trì và được trang trí với các phiến đá chạm trổ công phu.
                    Trong điện Phật có 60 pho tượng bằng gỗ quí, đặc biệt bộ tượng thập bát La Hán được tạc vào năm 1907 là đỉnh cao của nghệ thuật tạc tượng vùng đồng bằng sông Cửu Long.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/chonoi">Chợ nổi Cái Bè</a></li>
                    <li><a href="http://localhost:60785/Places/culaoTS">Cù lao Thới Sơn</a></li>

                    <li><a href="http://localhost:60785/Places/chuavinhtrang">Chùa Vĩnh Tràng</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
