@{
    ViewBag.Title = "chuatonthanh";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Chùa Tôn Thạnh</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/LongAn/ChuaTonThanh.JPG"  class="img-circle" style="width: 500px; height: 200px;" alt="">
        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>

                <p>
                    Thuộc địa phận xã Mỹ Lộc, huyện Cần Giuộc, tỉnh Long An, chùa cổ Tôn Thạnh có lịch sử hơn 200 năm tuổi, là nơi Nguyễn Đình Chiểu, một nhà thơ lớn, một chí sĩ yêu nước của dân tộc Việt Nam từ năm 1859 - 1861 đã sống và viết những áng văn bất hủ cho nền văn học nước nhà…

                    <br>
                    <br> Theo sử liệu, chùa Tôn Thạnh ban đầu có tên là chùa Lan Nhã, do Thiền sư Viên Ngộ xây dựng vào năm Gia Long thứ 7 (1808). Năm Thiệu Trị thứ 5 (1845), Thiền sư Viên Ngộ thấy mình đã xuất gia 40 năm mà chưa đắc đạo nên tịch thủy 49 ngày rồi viên tịch. Tưởng nhớ đến một thiền sư suốt đời hy sinh thân mình đem lại điều lành cho chúng sinh, người dân quanh vùng còn gọi chùa Tôn Thạnh là chùa Tăng Ngộ hay chùa Ông Ngộ, Lão Ngộ.
                    <br>
                    <br> Qua nhiều lần trùng tu, chùa Tôn Thạnh ngày nay không còn nguyên vẹn cảnh ‘’rường cột tráng lệ, vàng son huy hoàng’’ như xưa. Thay vào đó là một tổng thể kiến trúc bao gồm tiền điện, chánh điện, nhà giảng, hành lang phía đông, hành lang phía tây, mái ngói, tường gạch. Tuy nhiên, chùa Tôn Thạnh vẫn giữ được nét cổ xưa qua hệ thống cột kiểu tứ tượng ở chánh điện, những tượng Phật có từ đầu thế kỷ XIX, các hoành phi câu đối chữ Hán sơn son thếp vàng và giá trị nhất là pho tượng Địa Tạng Vương Bồ tát cao 110cm, đúc bằng đồng.
                    <br>
                    <br> Đến viếng chùa Tôn Thạnh, thăm lại một danh lam của đất Gia Định xưa, thắp nén nhang tưởng niệm trước bảo tháp của vị cao tăng Viên Ngộ và tưởng nhớ nhà thơ Nguyễn Đình Chiểu ngày nào, chắc hẳn chuyến tham quan của du khách sẽ trở nên thú vị và bổ ích hơn rất nhiều./.
                </p>

                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/dongthap10">Khu du lịch sinh thái Đồng Tháp Mười</a></li>
                    <li><a href="http://localhost:60785/Places/chuatonthanh">Chùa Tôn Thạnh</a></li>
                    <li><a href="http://localhost:60785/Places/binhta">Di tích lịch sử Bình Tả</a></li>

                </ol>
            </div>
    
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
