@{
    ViewBag.Title = "conoc";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Cồn Ốc</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/BenTre/ConOc.jpg"   class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Từ một cồn nhỏ, thấp ban đầu, có nhiều ốc bám vào các loài cây ngập nước trên nền phù sa và sinh sôi nảy nở nhanh chống, trở thành một nguồn lợi đáng kể của dân địa phương. Do đó cồn được đặt tên là Cồn Ốc. Nơi đây, du khách có thể tận hưởng phong cảnh mát mẻ của miền sông nước, được thưởng thức các món ăn dân dã đặc sắc của Bến Tre và tìm hiểu về cuộc sống, nếp sinh hoạt của người dân địa phương.
                    <br>
                    <br>
                    Đến với cồn Ốc, quý du khách sẽ bị lạc vào xứ sở của những vườn cây ăn trái sum xuê, sông nước hữu tình nao lòng người cùng những làng nghề thủ công nhìn đến đẹp mắt. Và có lẽ, cũng chính những điều giản dị và bình thường hơn cả này là lý do khiến cồn Ốc thu hút nhiều lượt du khách đến như vậy.
                    <br>
                    <br>
                    Vào cồn Ốc, quý khách có thể đi ngang ghé thăm và thưởng thức trái cây miệt vườn trĩu quả, tham quan các làng nghề sản xuất kẹo dừa, đan giỏ cọng dừa nổi tiếng.
                    <br>
                    <br>
                    Cồn Ốc được biết đến là quê hương của nhiều loài cây ăn trái đặc hữu với chất lượng ngon hơn hẳn các vùng khác như: bưởi da xanh, dừa núm, dừa dứa,… Bưởi da xanh ở đây có múi sắc hồng, không hột, không he, vị ngọt đượm hòa quyện với vị chua dịu miệng, trái chín vẫn giữ trọn sắc xanh; dừa núm trồng trên đất cát phù sa ở cồn Ốc có vị ngọt thanh và nhiều nước; dừa dứa là loại giải khát hiếm có với nước dừa và cơm dừa đượm vị ngọt, thoáng hương thơm của lá dứa.
                    <br>
                    <br>
                    Dừa cồn Ốc khá đa dạng với hơn 20 loại dừa xiêm, dừa ta như dừa dứa, dừa tam quan, dừa ẻo, dừa bung, dừa dâu, dừa xiêm xanh…Tận tay hái, chặt và thưởng thức nước dừa ngay tại vườn, trong không khí mến khách của người xứ đảo sẽ là cảm xúc không dễ gì quên trong lòng khách du lịch Bến Tre.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">
                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/sanchimvamho">Sân chim Vàm Hồ</a></li>
                    <li><a href="http://localhost:60785/Places/conqui">Cồn Qui</a></li>
                    <li><a href="http://localhost:60785/Places/conoc">Cồn Ốc</a></li>
                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
