@{
    ViewBag.Title = "conphung";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Cồn Phụng</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/BenTre/ConPhung.jpg"   class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Cồn Phụng nằm trên cù lao nổi giữa sông Tiền, án ngữ cửa ngõ đi vào Bến Tre qua phà Rạch Miễu, cách thị xã Bến Tre 12km.
                    <br>
                    <br>
                    Cồn Phụng chỉ là một cù lao nhỏ của sông Tiền, còn có tên gọi khác là cồn Tân Vinh hay cù lao Đạo Dừa – đại diện cho một tôn giáo chủ trương ăn chay và yêu chuộng hòa bình. Tương truyền, cồn Phụng ra đời từ khi chùa Nam Quốc Phật được xây dựng tại đây vào những năm đầu thế kỷ 20. Nhờ sự bồi đắp phù sa, diện tích cồn Phụng đã không ngừng được mở rộng theo thời gian. Nằm trong chuỗi cồn Long Lân Quy Phụng với ý nghĩa an lành hạnh phúc của miền Tây, cồn Phụng đã mang sẵn trong mình sức hút đặc biệt với du khách
                    <br>
                    <br>
                    Đến Cồn Phụng du khách có thể đi xuồng máy dọc cồn thăm các cơ sở sản xuất kẹo dừa, sản xuất đồ lưu niệm từ cây, vỏ trái dừa… lên xe ngựa thăm vườn cây ăn trái, dừng chân ngồi nghỉ dưới ngôi nhà lợp lá dừa để uống trà với mật ong và quất, thưởng thức các món ăn trái cây miền nhiệt đới, nghe nhạc đờn ca tài tử.
                    <br>
                    <br>
                    Thêm một cái hay nữa tất cả trái cây nơi đây đều được mời ăn miễn phí. Không ai rủ ai, hầu hết du khách đều lang thang trong vườn, nhón tay bẻ những chùm chôm chôm chín mọng, cảm nhận vị chua chua, ngọt ngọt tan trên đầu lưỡi, ghé sát vào từng trái mít tố nữ trên cây, hít mùi nhựa còn vương trên cuống
                    <br>
                    <br>
                    Tại đây có nhiều món đồ lưu niệm: từ những chiếc mặt nạ xanh đỏ, khung ảnh, chiếc xe ba gác, đến đồ dùng nhà bếp như chén, bát, muỗng, thìa… hầu hết được chế tác từ những chế phẩm của cây dừa.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
              
                <ol class="list-unstyled">
                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                   
                    <li><a href="http://localhost:60785/Places/sanchimvamho">Sân chim Vàm Hồ</a></li>
                    <li><a href="http://localhost:60785/Places/conqui">Cồn Qui</a></li>
                    <li><a href="http://localhost:60785/Places/conoc">Cồn Ốc</a></li>
                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
