@{
    ViewBag.Title = "conqui";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Cồn Qui</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/BenTre/ConQui.jpg"   class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Ngồi trong các gian nhà sàn rộng rãi, đa số là thủy tạ, của nhà hàng du lịch Quê Dừa lồng lộng gió thổi, du khách có thể thư thái ngắm nhìn đám lục bình nở bông tím ngát, đẹp đến nao lòng. Các nhà ăn cất bằng tre lá nhưng đầy đủ tiện nghi với những món ăn đặc sản, dân dã đặc sắc như: cá bông lau nấu canh chua bần với rau muống đồng; cá điêu hồng hấp nấm mối với bông bí; cá rô, cá kèo hoặc cá lóc kho tộ. Du khách có thể vừa ăn trái cây mới hái, hớp ngụm trà mật ong (mật ong khai thác tại vườn) vừa nghe tiếng đờn ca tài tử réo rắt. Đờn ca tài tử tồn tại cùng năm tháng trên đất Bến Tre, ngày càng phát triển như điểm tô thêm nét duyên dáng cho vùng sông nước này.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">
                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/sanchimvamho">Sân chim Vàm Hồ</a></li>
                    <li><a href="http://localhost:60785/Places/conqui">Cồn Qui</a></li>
                    <li><a href="http://localhost:60785/Places/conoc">Cồn Ốc</a></li>
                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>