@{
    ViewBag.Title = "culaogieng";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Cù Lao Giêng</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/AnGiang/CuLaoGieng.jpg" class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Cù Lao Giêng nằm một mình đơn lẻ giữa bốn bề non xanh nước biếc của dòng sông Tiền hiền hậu, trải dài qua ba xã Tấn Mỹ, Mỹ Hiệp và Bình Phước Xuân. Xen lẫn nét khoáng đãng, tươi mát của sóng nước, Cù Lao Giêng mang trong mình những dấu vết của lịch sử hấp dẫn đầy mời gọi khách du lịch An Giang.
                    <br />
                    <br>
                    Với cảnh quan thiên nhiên đầy sức quyến rũ của một vùng sông nước, cá lội tung tăng cùng vô vàn chủng loại cây trái đặc sản của miền phù sa nước ngọt, Cù Lao Giêng còn có những công trình văn hoá và mỹ thuật tiêu biểu như Chùa Bà Lê (Phước Hội Tự), một di tích lịch sử cách mạng thuộc xã Hội An, huyện Chợ Mới đã được Nhà nước công nhận di tích quốc gia. Hiện nay, bên trong còn thờ những bài vị của các anh hùng liệt sĩ cách mạng dưới hình thức tôn giáo để che mắt giặc trong thời chiến tranh.
                    <br />
                    <br>
                    Khách du lịch An Giang sẽ ray rứt không yên nếu bỏ qua cơ hội thăm quan thánh đường đầu tiên của Xứ Nam Kỳ – thánh đường Cù Lao Giêng. Hoàn thành vào năm 1877, trước cả nhà thờ Đức Bà, thánh đường này còn có tên gọi khác là Đầu Nước, mang trong mình cả lịch sử, văn hóa và tôn giáo của một thời đại dài. Lịch sử kể lại, thánh đường này là cầu nối giữa những cha xứ truyền đạo từ Campuchia sang Việt Nam.
                    <br>
                    <br>
                    Mang đậm lối kiến trúc cổ xưa của Pháp, thánh đường là biểu tượng cho một công trình nguy nga và hoành tráng. Cho đến ngày nay, thánh đường Cù Lao Giêng cùng các hệ thống quần thể tu viện và nhà thờ nơi đây như nhà thờ Rạch Sâu, nhà thờ thánh Franxico vẫn còn giữ nguyên vẹn.
                    <br>
                    <br>
                    Với quê sông nước hữu tình nằm giữa sông Tiền với nhiều công trình kiến trúc tôn giáo đặc sắc như Quần thể kiến trúc Thiên chúa giáo xã Tấn Mỹ, Thánh đường Cù lao Giêng, Chùa Đạo Nằm, Phủ thờ Mã Tộc, Chùa Bà Vú,… Cũng là nơi xuất thân của nhiều danh nhân An Giang.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/culaogieng">Cù Lao Giêng</a></li>
                    <li><a href="http://localhost:60785/Places/nuicam">Núi Cấm</a></li>
                    <li><a href="http://localhost:60785/Places/nuisam">Núi Sam</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
