@{
    ViewBag.Title = "culao";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Cù lao An Bình</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/VinhLong/cu-lao-an-binh.jpg"  class="img-circle" style="width: 420px; height: 380px;" alt="">
                </div>

                <p>
                    Cù Lao An Bình và Bình Hòa Phước nổi giữa sông Tiền, đối diện với thị xã Vĩnh Long, Cù Lao gồm bốn xã: An Bình, Bình Hoà Phước, Hoà Ninh và Ðồng Phú, thuộc huyện Long Hồ, tỉnh Vĩnh Long.
                    <br>
                    <br>
                    Vườn cảnh Bonsai của ông Sáu Giáo tại ấp Bình Thuận xã Hoà Ninh với hàng trăm loài cây cảnh: mai vàng, mai chiếu thuỷ, lài… xung quanh nhà là vườn nhãn và ao nuôi cá tai tượng, loại cá thịt ngon.
                    <br>
                    <br>
                    Nhà sàn ông Mười Ðầy: nhà sàn cất bằng gỗ trên rạch Ninh Hoà, phía sau nhà là vườn nhãn, bưởi, sapôchê. Nhà ông Mười Đầy là một trong số điểm tham quan ở cù lao này.
                    <br>
                    <br>
                    Ngôi nhà xưa ông Hai Hoàng được xây cất theo kiến trúc Pháp có sân rộng và phía sau là vườn chôm chôm và nhãn. Ðây là nơi ăn trưa và nghỉ đêm của du khách.
                    <br>
                    <br>
                    Các vườn trái cây đặc sản khác Vườn chôm chôm ông Chín Hoán, vườn chôm chôm ông Chín Cần, vườn nhãn tiêu ông Tám Hổ, và vô số các vườn trái cây khác.
                    <br>
                    <br>
                    Vườn bưởi trên cù lao Mỹ Hoà huyện Bình Minh, cách Vĩnh Long 30km, chuyên trồng bưởi năm roi, loại bưởi ngon nổi tiếng của các tỉnh miền Tây .
                    <br>
                    <br>
                    Điểm du lịch An Bình cũng không kém, với những món: cháo hến; ốc đắng cuốn bánh tráng, dừa nạo và rau thơm; gỏi trái cóc; canh chua cá rô; cá lóc hấp bầu. Các món ăn này “càng dân dã” hơn khi khách được tham dự vào một vài công đoạn như: tự câu cá, hái rau, bắt ốc… Để cuộc du lịch sinh thái tích cực hơn, các chủ vườn còn tổ chức cho khách tham gia vào những sinh hoạt nông thôn để hiểu phần nào đời sống nhân dân vùng sông nước.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
           
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/vinhsan">Trang trại Vinh Sang</a></li>
                    <li><a href="http://localhost:60785/Places/chuatienchau">Chùa Tiên Châu</a></li>
                    <li><a href="http://localhost:60785/Places/culao">Cù lao An Bình</a></li>

                </ol>
            </div>
         
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
