@{
    ViewBag.Title = "culaoTS";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Cù lao Thới Sơn</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/TienGiang/c%c3%b9%20lao%20Th%e1%bb%9bi%20S%c6%a1n.jpg"   class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Du khách đến Thới Sơn, xuống đò chèo xuôi theo những con rạch ngoằn ngoèo giữa hai hàng dừa nước rậm rạp hay những cây thủy liễu (bần) ven rạch nghiêng mình chào đón du khách. Nếu muốn tản bộ theo những con đường đá uốn lượn, băng qua những vườn cây trái xum xuê, bạn có dịp ngồi nghỉ trong những nhà vườn uống trà mật ong thơm ngọt và nghe đàn ca tài tử. Ðêm Thới Sơn thật huyền diệu với trăng thanh, gió mát, sóng nước mênh mang. Du khách có thể ngồi thuyền lướt nhẹ trên sông ngắm trăng lên, hoặc cùng bạn ngồi đối ẩm nghe giọng ca mượt mà, sâu lắng của thôn nữ.
                    <br>
                    <br>
                    Những ngôi nhà của người dân Thới Sơn vẫn giữ được nét cổ kính, xưa cũ. Trong nhà, cách bài trí cũng theo phong cách cổ với chiếc tủ thờ cẩn xà cừ lóng lánh, tràng kỷ chạm trổ tinh xảo, cùng với đôi liễn chạm câu đối sơn son thếp vàng… Xung quanh nhà là vườn cây cảnh với nhiều cây bonsai được trồng tỉa công phu
                    <br>
                    <br>
                    Lượng du khách đến với Thới Sơn ngày càng tăng, đặc biệt là du khách nước ngoài. Thới Sơn thu hút được du khách là nhờ có nhiều sản phẩm du lịch độc đáo,đa dạng, mới lạ, phong cách phục vụ chu đáo. Thới Sơn là một trong nhiều điểm du lịch hấp dẫn ở Tiền Giang.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
            
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/chonoi">Chợ nổi Cái Bè</a></li>
                    <li><a href="http://localhost:60785/Places/culaoTS">Cù lao Thới Sơn</a></li>

                    <li><a href="http://localhost:60785/Places/chuavinhtrang">Chùa Vĩnh Tràng</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
