@{
    ViewBag.Title = "daohonkhoai";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Đảo Hòn Khoai</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/CaMau/HonKhoai.jpg"  class="img-circle" style="width: 450px; height: 450px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


               
                <p>
                    Hòn Khoai thuộc huyện Ngọc Hiển, cách đất liền 14,6km, nằm về phái tây nam thị trấn Năm Căn.<br>

                    Hòn Khoai hay còn gọi là Hòn Giáng Hương, hòn Độc Lập, đảo Poulo Obi có diện tích 5km2 có hình dạng như củ khoai khổng lồ, nằm trong địa phận quần đảo với 4 hòn đảo nổi tiếng khác là Hòn Sao, Hòn Đồi Mồi, Hòn Đá Lẻ và Hòn Tương.<br>

                    Hòn Khoai được đánh giá là một trong những cụm đảo đẹp bậc nhất của cực Nam Tổ quốc. Đến với Hòn Khoai, khách du lịch sẽ có cơ hội thưởng thức không khí trong lành giữa bãi biên xanh ngắt đậm chất nguyên sơ của thiên nhiên.<br>

                    Hòn Khoai là đảo đá, đồi và rừng còn gần như nguyên vẹn với nhiều loại gỗ quí, động thực vật phong phú, phong cảnh thiên nhiên hoang dã lôi cuốn.<br>

                    Đến Hòn Khoai, ngoài việc du khách chiêm ngưỡng vẻ đẹp nên thơ của những bãi biển đầy đá cuội tròn như trứng ngỗng, du khách còn có dịp leo núi, băng rừng, trực tiếp ngắm nhìn một thảm rừng nguyên sinh cực kỳ quý hiếm ở nước ta với hơn 1.000 loại thực vật và hàng trăm giống chim thú vẫn còn nguyên vẹn.<br>

                    Chính sự nguyên sơ và đa dạng của hệ sinh thái khiến Hòn Khoai trở thành một trong những địa điểm du lịch sinh thái và nghỉ dưỡng hết sức lý thú.<br>

                    Ngọn hải đăng trên đỉnh cao nhất của Hòn Khoai là một trong những vết tích còn sót lại của thực dân Pháp. Cho đến nay, kiến trúc của công trình ngọn hải đăng này vẫn còn khá nguyên vẹn, đây được ví là một trong những ngọn đèn biển quan trọng của khu vực biển Tây Nam và Vịnh Thái Lan.<br>

                    Từ trên ngọn hải đăng, du khách còn có dịp được các chiến sĩ biên phòng cho phép thông qua kính viễn vọng, nhìn một trong 5 hòn đảo vây quanh hòn Khoai là hòn Đồi Mồi với thảm thực vật xanh biếc, giống hệt con đồi mồi đang bơi giữa biển xanh. Đặc biệt, bạn có thể hướng kính viễn vọng về mũi Cà Mau để một lần trong đời được chiêm ngưỡng từ xa cái mũi đất thiêng liêng của tận cùng tổ quốc, mà không dễ có ai ngắm được nếu không ra Hòn Khoai.<br>
                </p>


                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
             
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/muicamau">Mũi Cà Mau</a></li>
                    <li><a href="http://localhost:60785/Places/runguminh">Rừng U Minh</a></li>
                    <li><a href="http://localhost:60785/Places/daohonkhoai">Đảo Hòn Khoai</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>