@{
    ViewBag.Title = "denthoBH";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Đền thờ Bác Hồ</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/HauGiang/DenThoBacHo.jpg"   class="img-circle" style="width: 500px; height: 200px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>
                <p>
                    Ngày 3/9/1969, nghe tin Bác Hồ qua đời – Cũng như cả dân tộc Việt Nam, đồng bào Nam Bộ - Cần Thơ hết sức đau đớn, nhất là khi chưa kịp rước Bác về thăm. Lúc ấy cũng như nhiều vùng giải phóng khác - Đảng bộ và nhân dân xã Lương Tâm, huyện Long Mỹ đã hưởng ứng lời kêu gọi của Ban Chấp hành Trung ương Đảng, biến đau thương thành hành động cách mạng, tấn công địch nhiều nơi.<br>

                    Đồng thời với các mặt trận đánh địch, để ghi nhớ công ơn trời biển của Bác và đáp ứng nguyện vọng của nhân dân xã Lương Tâm: Đảng bộ xã, do đồng chí Lữ Minh Chánh (Hai Chánh), Bí thư Đảng ủy đã quyết định lập bàn thờ Bác ngay tại văn phòng Đảng ủy xã. Đồng chí Lê Văn Thống, Ủy viên thư ký được giao nhiệm vụ phóng ảnh Bác, lập bàn thờ và may băng tang để tổ chức lễ truy điệu. Ngày hôm sau lễ truy điệu được tổ chức trọng thể với sự có mặt đông đủ của các đồng chí lãnh đạo ban, ngành, đoàn thể xã, ấp; các đơn vị bộ đội chủ lực, bộ đội địa phương đóng quân gần cơ quan xã, cùng đông đảo bà con đến dự lễ. Mọi người đều thể hiện nỗi đau buồn vô hạn, tưởng niệm, ghi lòng tạc dạ về công ơn trời biển của Bác và hứa với Bác quyết tâm đánh thắng giặc Mỹ xâm lược.<br>

                    Ngay sau ngày quốc tang, các đồng chí lãnh đạo và một số đồng chí lão thành cách mạng, các vị bô lão trong xã đã bàn bạc đi đến quyết định: xây dựng đền thờ Bác tại ấp 3, ngã tư lộ xe. Đây là nơi thuận lợi nhất, để mọi người dân trong xã và các khu vực dễ dàng đến viếng Bác, bằng cả đường thủy đường bộ.<br>

                    Trong quá trình chuẩn bị thì địch tổ chức phản kích ác liệt, mở nhiều cuộc càn quét qui mô vào vùng này. Địa điểm xây dựng đền thờ Bác, là giao điểm pháo của địch ở các nơi bắn vào, nên cuối cùng Đảng bộ quyết định giữ nguyên bàn thờ Bác tại cơ quan Đảng ủy xã Lương Tâm.<br>

                    Mùa hè năm 1972, Mỹ - Ngụy mở nhiều cuộc càn quét qui mô, tập trung bom pháo đánh phá ác liệt địa bàn Long Mỹ, cơ quan Đảng ủy xã bị đánh sập phải dời đi nơi khác. Bàn thờ của Bác được lập lại, tổ chức các ngày lễ kỷ niệm giữ đúng hàng năm (ngày sinh nhật, lễ giỗ và Tết Nguyên đán). Nhân dân trong vùng còn thờ Bác và tổ chức lễ giỗ tại nhà, như gia đình ông Nguyễn Văn Tòng ở ấp 6, xã Vĩnh Viễn. Lễ giỗ Bác tổ chức ở đây bình dị nhưng rất trang trọng, có đầy đủ con cháu trong nhà và bà con xóm giềng đến cúng, tưởng niệm Bác. Ở thị xã Vị Thanh (tỉnh lỵ Chương Thiện ngụy trước đây) gia đình bà Trần Thị Làng người Hoa, tổ chức lễ giỗ Bác công khai trong vùng giặc kềm kẹp, xem là “cúng cơm ông tổ”...<br>

                    Sau ngày hòa bình, từ nguyện vọng tha thiết của Đảng bộ và nhân dân xã Lương Tâm, mong muốn xây dựng lại đền Bác Hồ ở vị trí dự kiến trong thời kỳ kháng chiến chống Mỹ. Ngã tư lộ xe, ấp 3, xã Lương Tâm, được Huyện ủy, Ủy ban nhân dân huyện Long Mỹ và Sở Văn hóa Thông tin tỉnh Hậu Giang chấp thuận làm địa điểm xây dựng đền thờ. Các ngành, các cấp và nhân dân trong và ngoài địa phương tích cực đóng góp tiền công sức, với tấm lòng kính yêu Bác. Đây là công trình “uống nước nhớ nguồn”, thiết thực chào mừng kỷ niệm 100 năm ngày sinh của Bác.<br>

                    Ngày 2/9/1990, nhân dân và các ban, ngành trong và ngoài tỉnh từ Bạc Liêu, Kiên Giang đã tổ chức trọng thể lễ khánh thành đền thờ Bác; Rước ảnh Bác từ cơ quan Đảng ủy xã Lương Tâm về đền thờ (cách 3km). Từ đó cứ đến các ngày kỹ niệm: 30/4, 19/5, 2/9, tết dương lịch và Tết Nguyên đán, nhân dân Cần Thơ và các tỉnh vùng lân cận đều tổ chức hành hương về nguồn, trở thành nét sinh hoạt truyền thống hằng năm.<br>

                    Đền thờ Bác được xây dựng năm 1990, với quy mô nhỏ nhưng đủ sức chứa đông đảo nhân dân các nơi đến hành hương viếng Bác, trong các dịp lễ hội. Do đó Tỉnh ủy, UBND tỉnh Cần Thơ cho phép xây dựng mở rộng khu đền, kết hợp với sinh hoạt văn hóa, thể thao, hình thành một trung tâm giáo dục truyền thống và sinh hoạt văn hóa của nhân dân trong vùng. Qui hoạch tổng thể khu đền thờ mới gần 2ha, gồm có 7 hạng mục công trình.<br>

                    Đền thờ Bác được xây mới cách đền cũ 50m về phía Bắc, kiến trúc mang tính dân tộc, trang trọng, tôn kính. Ngày 19/5/1996 công trình hoàn thành. Các đồng chí lãnh đạo tỉnh, huyện và nhân dân xã Lương Tâm; các địa phương lân cận đã tổ chức lễ khánh thành, rước tượng Bác về đền thờ mới trọng thể. Giờ đây, ngoài nhân dân địa phương ngày càng có nhiều du khách xa, gần đến viếng Bác, nhất là các dịp lễ. Do đường giao thông thuận lợi, xe hơi từ TP.Cần Thơ - Long Mỹ đến đền thờ Bác chỉ mất một tiếng rưỡi đồng hồ (78km).<br>

                    Năm 2000, Bộ VHTT quyết định công nhận đền thờ Bác Hồ ở xã Lương Tâm - huyện Long Mỹ là Di tích lịch sử văn hóa cấp quốc gia<br>
                    Trích “Tìm hiểu Đất và Người Hậu Giang”<br>


                    <div class="col-md-2">

                    </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
             
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/denthoBH">Đền thờ Bác Hồ</a></li>
                    <li><a href="http://localhost:60785/Places/lungngochoang">Khu bảo tồn thiên nhiên Lung Ngọc Hoàng</a></li>
                    <li><a href="http://localhost:60785/Places/chonoiPH">Chợ nổi Phùng Hiệp</a></li>
                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
