@{
    ViewBag.Title = "dongthap10";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Khu du lịch sinh thái Đồng Tháp Mười</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/LongAn/LangNoiTanLap.jpg"   class="img-circle" style="width: 500px; height: 200px;" alt="">
        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>

                <p>
                    Khu du lịch Đồng sen Tháp Mười tọa lạc tại xã Mỹ Hòa, huyện Tháp Mười, cách trung tâm thành phố Cao Lãnh 39km. Từ thành phố Cao Lãnh, theo đường Hồ Chí Minh về hướng thị trấn Mỹ An, qua cầu Mỹ An rẽ trái khoảng 8km là đến.
                    Điểm hấp dẫn của khu du lịch Đồng sen Tháp Mười chính là đến đây du khách sẽ được tận hưởng trọn vẹn bầu không khí êm dịu, thuần khiết được mang đến từ hương, sắc, vị của những cánh đồng sen bao la, bát ngát.
                    Khu sinh thái Đồng Sen Tháp Mười có sự bố trí đơn giản mà tinh tế, nguyên vẹn với sự tự nhiên vốn có của nó. Du khách sẽ ngỡ mình đang ở một vùng đất Sen Hồng thuở sơ khai, cách biệt với thế giới hiện đại ô nhiễm, tất bật, xô bồ ngoài kia. Điều đó làm cho người ta có thể trở nên bình tâm hơn và trút hết những muộn phiền, lo âu trong cuộc sống.
                </p>

                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
           
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/dongthap10">Khu du lịch sinh thái Đồng Tháp Mười</a></li>
                    <li><a href="http://localhost:60785/Places/chuatonthanh">Chùa Tôn Thạnh</a></li>
                    <li><a href="http://localhost:60785/Places/binhta">Di tích lịch sử Bình Tả</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
