@{
    ViewBag.Title = "hatien";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Hà Tiên</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/KienGiang/HaTien.jpg"  class="img-circle" style="width: 500px; height: 200px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>
                <p>
                    Hà Tiên là một thị trấn biến giới của Kiên Giang, nằm ở phía tây bắc của tình, giáp với Campuchia. Hà Tiên nổi tiếng với bãi biển Mũi Nai và những câu chuyện lịch sử gắn với vị Khai Trấn Quốc Công Mạc Cửu, người đã có công khái phá mảnh đất Hà Tiên dưới thời chúa Nguyễn. Từ Hà Tiên bạn có thể đi Phú Quốc, cũng như kết hợp du lịch với nhiều du lịch khác ở Kiên Giang như Rạch Giá, đảo Nam Du. Để tìm hiểu về du lịch Hà Tiên bạn có thể đọc qua những thông tin sau đây của Tôi Đi.<br>

                    <b>Xe đi Hà Tiên</b><br>

                    Vì khoảng cách khá xa thành phố Hồ Chí Minh do đó bạn nên đi xe đò xuống Hà Tiên. Từ đó bạn có thể thuê xe máy đi chơi loanh quanh. Đi xe đò các bạn nên chọn hãng xe Kumho, xe chạy thẳng xuống Hà Tiên. Nếu đi Mai Linh hay Phương Trang thì xe tới Rạch Giá, sau đó bạn lại mua vé tiếp đi Hà Tiên.<br>

                    Nếu đi giường nằm đêm, tốt nhất là bạn nên đi 2 hãng xe Kumho, số ĐT đặt vé: 08.3752 7878, giá vé 180k; và hãng xe Phương Trang, số ĐT đặt vé: 08.38 309 309, giá vé 180k. Lễ tết giá vé của 2 hãng này có thể lên tới 230k – 260k. Cả 2 hãng này đều xuất phát đi từ bến xe miền Tây.<br>


                    <b>Thuê xe máy tại Hà Tiên</b><br>

                    Bạn có thể liên hệ cánh xe ôm ở bến xe, hoặc hỏi trực tiếp khách sạn nơi bạn ở, nhờ họ thuê giùm. Giá thuê khoảng 150k.<br>

                    <b>Đi đâu Chơi gì ở Hà Tiên</b><br>

                    Hà Tiên xưa nổi tiếng với câu ca: Hà Tiên Thập Vịnh, để nói lên những vẻ đẹp của xứ Hà Tiên. Trong đó có: Bình San Điệp Thúy (núi dựng một màu xanh), Thạch Động thôn vân (động đá nuốt mây), Đông Hồ ấn nguyệt (hồ phía đông in hình trăng), Châu Nham lạc lộ (cò về núi ngọc), Lộc Trĩ thôn cư (xóm quê Mũi Nai)… Còn ngày nay khi tới đây bạn đừng quên bỏ qua những điểm thăm quan sau:<br>

                    <b>Biển Mũi Nai</b>: một bãi biển còn tương đối hoang sơ, êm đềm. Tại đây bạn có thể tắm biển, ngắm nhìn những phong cảnh tự nhiên và thưởng thức những món ăn đặc sản của Kiên Giang.<br>

                    <b>Thạch Động</b>, hay còn được gọi Thạch động Thôn Vân (động đá nuốt mây) là một tảng đá xanh khổng lồ cao 80m nằm trơ trọi giữa một vùng đất rộng. Đứng ở lưng chừng núi, bạn có thể phóng tầm mắt nhìn toàn cảnh thị xã Hà Tiên thơ mộng thu nhỏ, thấy các phum sóc của người Campuchia dọc biên giới ẩn hiện dưới chân đồi.<br>

                    <b>Núi Đá Dựng</b>: cao gần 100m, cách trung tâm thị xã Hà Tiên khoảng 6km. Trong Hà Tiên Thập Cảnh, Đá Dựng với tên gọi Châu Nham Lạc Lộ (cò về núi ngọc). Đá Dựng có vị trí chiến lược quan trọng, đã đi vào lịch sử đấu tranh của Đảng bộ và Quân dân Hà Tiên như một truyền thống hào hùng. Đến tham quan di tích lịch sử Đá Dựng như trở về cội nguồn dân tộc, đồng thời khám phá vẻ đêp kỳ bí của các hang động. Ngoài ra còn rất nhiều chùa Việt, chùa Chăm, hang động, núi đá, cảnh đẹp khác.<br>
                </p>


                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/daophuquoc">Đảo Phú Quốc</a></li>
                    <li><a href="http://localhost:60785/Places/langchaiHN">Làng Chài Vạn Ninh</a></li>

                    <li><a href="http://localhost:60785/Places/hatien">Hà Tiên</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>