@{
    ViewBag.Title = "KDLbinhan";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Khu du lịch Bình An</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/SocTrang/Khu%20du%20l%e1%bb%8bch%20B%c3%acnh%20An.jpg"   class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Khu du lịch Bình An với diện tích khoảng vài hécta là “bản sao” với quy mô nhỏ hơn công viên văn hoá Đầm Sen ở thành phố Hồ Chí Minh.
                    <br />
                    Qua cổng, phía sau sân khấu ta có thể nhìn thấy một trái núi nhân tạo cao khoảng ba bốn chục mét, trên đỉnh là bức tượng Phật Bà Quan Âm khá lớn. Dưới chân núi là ao cá; cây cối được trồng rất tự nhiên; những lối mòn len lỏi giữa những tảng đá to, nhỏ khấp khểnh mô phỏng lối mòn trên núi đá. Dây leo đeo bám cây cối rậm rịt. Trong lòng quả núi là một khách sạn mini. Cạnh trái núi là một ngôi biệt thự hai tầng, mô tuýp kiến trúc kết hợp kiểu Nga – Trung Đông.
                    <br />
                    Nơi đây có thể tổ chức lễ cưới, dạ tiệc, vũ hội… Khu du lịch Bình An ra đời đã phá tan sự bình lặng vốn có của một thị xã mang đậm dấu ấn văn hoá Khmer ở một tỉnh miền Tây Nam Bộ.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
             
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/chonoinga5">Chợ nổi Ngã Năm</a></li>
                    <li><a href="http://localhost:60785/Places/chuadatset">Chùa Đất Sét</a></li>
                    <li><a href="http://localhost:60785/Places/chuadoi">Chùa Dơi</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
