@{
    ViewBag.Title = "khuditichgothap";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Khu di tích Gò Tháp</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/DongThap/KhuDiTichGoThap.jpg"  class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Quần thể di tích Gò Tháp gồm có 5 di tích tiêu biểu, tính từ con lộ Mỹ Hòa đi vào: Gò Tháp Mười, tháp Cổ Tự, mộ và đền thờ cụ Ðốc Bình Kiều, gò Minh Sư, miếu Bà Chúa Xứ.
                    <br>
                    <br>
                    Các di tích trong Gò Tháp mang nhiều giá trị văn hoá – lịch sử. Tháp Cổ Tự cách gò Tháp Mười 100m về phía bắc, tương truyền có từ thời Thiệu Trị (1841 – 1847), trước đó là ngôi tháp thờ Chân Lạp. Qua khỏi chùa là đến khu căn cứ Ðồng Tháp Mười của cụ Ðốc Bình Kiều trong cuộc kháng chiến chống thực dân Pháp. Mộ và đền thờ cụ còn ở nơi đây. Ði tiếp là đến miếu Bà Chúa Xứ, gò Minh Sư. Hàng năm, khách thập phương kéo về dự lễ vía Bà rất đông.
                    <br>
                    <br>
                    Ở đây mùa khô nhiều gò cát lớn nhỏ uốn lượn quanh co, tạo thành khu gò nổi, trên gò có nhiều cây cổ thụ trăm tuổi xoè bóng mát, sừng sững vươn cao. Mùa nước nổi thì đồng nước mênh mông xen lẫn màu xanh cây cỏ, tạo thành phong cảnh thiên nhiên kì vĩ.
                    <br>
                    <br>
                    Tại đây, giới khảo cổ học đã phát hiện được nhiều di vật văn hóa cổ, đặc biệt là các di vật văn hóa thuộc nền văn minh Óc Eo. Di tích gò Tháp Mười trong hai cuộc kháng chiến chống Pháp và Mỹ là căn cứ của các cơ quan ở Nam Bộ.
                    <br>
                    <br>
                    Với giá trị văn hóa lịch sử phong phú, di tích Gò Tháp đã được Bộ Văn hoá – Thông tin xếp hạng và trong tương lai sẽ được phát triển thành khu du lịch hấp dẫn của vùng Ðồng Tháp.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                <h4>Danh mục</h4>
                <ol class="list-unstyled">
                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/langhoakieng">Làng hoa kiểng Sa Đéc</a></li>
                    <li><a href="http://localhost:60785/Places/tramchim">Vườn quốc gia Tràm Chim</a></li>
                    <li><a href="http://localhost:60785/Places/langcuphobang">Lăng cụ phó bảng</a></li>
                </ol>
            </div>
          
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Trở về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
