@{
    ViewBag.Title = "langhoakieng";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Làng hoa kiểng Sa Đéc</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/DongThap/LangCuPhoBang.jpg"   class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Nói đến hoa và cây kiểng, người ta không thể không nghĩ đến địa danh Sa Đéc hơn một trăm năm qua, Sa Đéc nổi tiếng khắp cả nước với nghề trồng hoa kiểng, cây cảnh truyền thống. Tại đây du khách có thể thấy, ở đây các loại cây kiểng quí hiếm, tuổi thọ hàng trăm năm. Có những loại cây rất bình dị gần gũi với đời sống người lao động như: khế, cau, bùm sụm, sung, si, mai… qua bàn tay khéo léo, cần mẫn, tài hoa, với tâm hồn nghệ sĩ của các nghệ nhân đã trở thành những cây kiểng quí, có hình dáng đẹp, lạ.
                    <br>
                    <br>
                    Ngôi làng có 4 mùa Xuân, dù bất cứ tháng nào, trong năm du khách cũng được ngắm thỏa thích cả một rừng hoa với đủ màu sắc, hương thơm. Đặc biệt, nơi đây còn lưu giữ được khoảng 50 giống hoa hồng: hồng nhung đỏ thắm, mượt mà; hồng Gờ-rơ-da màu tím sen; hồng Cơ-lê-ô-bát màu hồng phấn; hồng Cô – kết màu gạch tôm, hồng Bờ-ri-đích-bạt-đo màu gạch tôm đậm; hồng Phọt-ti-ni trong đỏ ngoài vàng; hồng Ê-li-da-bét phơn phớt; hồng Mác-ca-ra màu cam; hồng Mét-sai màu trắng; hồng Công-phi-đan màu vàng hột gà…
                    <br>
                    <br>
                    Làng hoa kiểng Sa Đéc, một trong những điểm du lịch hấp dẫn, chắc chắn sẽ làm thoả lòng du khách khi đến với tỉnh Đồng Tháp sen hồng.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">
                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/langhoakieng">Làng hoa kiểng Sa Đéc</a></li>
                    <li><a href="http://localhost:60785/Places/tramchim">Vườn quốc gia Tràm Chim</a></li>
                    <li><a href="http://localhost:60785/Places/langcuphobang">Lăng cụ phó bảng</a></li>
                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Back to top</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
