@{
    ViewBag.Title = "langcuphobang";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Lăng cụ phó bảng</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/DongThap/LangCuPhoBang.jpg"  class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Lăng cụ Phó bảng ở thành phố Cao Lãnh, đây là công trình ghi ơn cụ Phó bảng Nguyễn Sinh Sắc, nhà nho yêu nước và là thân phụ Chủ tịch Hồ Chí Minh.
                    <br>
                    <br>
                    Toàn bộ khu di tích rộng 3,6ha, chia làm hai cụm kiến trúc: mộ và nhà lưu niệm cụ Phó bảng, nhà sàn và ao sen Bác Hồ. Đối diện với cổng vào là lăng mộ cụ Phó bảng, mái hình bàn tay úp, phía trên mái là chín con rồng – biểu tượng của các tỉnh miền tây .
                    <br>
                    <br>
                    Tại khu di tích có rất nhiều cây cảnh, hoa quý được nhân dân hiến tặng hoặc đưa về từ nhiều miền của đất nước, trong đó đặc biệt là cây khế gần 300 tuổi (nằm bên trái mộ) và cây sộp hơn 300 tuổi (nằm bên phải mộ). Trong nhà lưu niệm trưng bày nhiều hiện vật, tư liệu liên quan đến những năm tháng cụ Sắc sống và làm việc, nhất là thời gian ở Cao Lãnh và vùng đất Nam Bộ. Mọi thứ đều toát lên vẻ uy nghi mà giản gị, trang trọng mà gần gũi.
                    <br>
                    <br>
                    Hàng năm, cứ vào ngày 27/10 âm lịch, bà con nhiều nơi hội tụ về đây tổ chức lễ giỗ cụ Phó bảng Nguyễn Sinh Sắc trong không khí trang nghiêm và đông vui như một ngày hội lớn ở địa phương.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">
                    <!-- Viết chưa xong 3 cai này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/langhoakieng">Làng hoa kiểng Sa Đéc</a></li>
                    <li><a href="http://localhost:60785/Places/tramchim">Vườn quốc gia Tràm Chim</a></li>
                    <li><a href="http://localhost:60785/Places/langcuphobang">Lăng cụ phó bảng</a></li>
                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Back to top</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
