@{
    ViewBag.Title = "langhomac";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Lăng Họ Mạc</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/KienGiang/langhomac.jpg"  class="img-circle" style="width: 500px; height: 200px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>
                <p>
                    Đền thờ họ Mạc có các tên chữ là Trung Nghĩa từ, Mạc Công từ hay Mạc Công miếu; còn dân gian thì quen gọi là miếu Ông Lịnh (vì Mạc Thiên Tứ được tôn xưng là Mạc Lịnh Công). Công trình này và khu mộ của dòng Mạc trên triền núi Bình San, là một thắng cảnh và là một di tích lịch sử của trấn Hà Tiên xưa; nay thuộc thị xã Hà Tiên, tỉnh Kiên Giang, Việt Nam.
                    <br>
                    Phía trước đền thờ là hai ao sen, tương truyền do Mạc Thiên Tứ sai đào để chứa nước ngọt, cho nhân dân dùng, cho đến hôm nay, nó vẫn còn phát huy tác dụng. Ngôi đền, ngoài giá trị lịch sử, nó còn là một công trình có giá trị nghệ thuật cao, bởi cách bố trí hài hòa và lối chạm trổ tinh vi, sắc sảo. Cả đền thờ được bảo vệ bằng một tường rào dày bằng đá, rêu phong. Ngay cổng đền thờ họ Mạc[7], có đề tên Mạc Công miếu (莫公廟), hai bên có cặp liễn đối bằng chữ Hán ca ngợi họ Mạc:<br>

                    一門忠義家聲重<br>
                    七葉藩翰国寵榮<br>
                    Phiên âm:<br>

                    Nhất môn trung nghĩa gia thanh trọng<br>
                    Thất diệp phiên hàn quốc lũng vinh.<br>
                    Tạm dịch:<br>

                    Một nhà trung nghĩa danh thơm cả họ,<br>
                    Bảy lá giậu che, cả nước mến yêu<br>
                    Qua khỏi cổng là một con đường ngắn, hai bên trồng cây xanh, dẫn đến một tiểu đình rộng. Qua thêm một cổng nữa, mà hai bên có đôi sư tử đá uy nghi, là điện thờ chính và tả vu, hữu vu. Ngoài những hoành phi, liễn đối và tranh vẽ; tại điện thờ chính còn có một biển thờ đề bốn chữ "Khai Trấn Trụ Quốc" và bức hoành "Nghị Võ Công", đấy là lời tuyên dương của nhà Nguyễn trước sự nghiệp mở mang bờ cõi của dòng họ Mạc.<br>

                    Trong đền hiện còn lưu giữ bài văn tế "Mạc Lệnh Công Thánh đãn tế văn" do Tri phủ An Biên Nguyễn Hữu Lập soạn năm 1847, bản nhật lịnh của Long Hổ tướng quân Trần Hầu. Đặc biệt, trên vách và cột điện thờ, hiện còn bài văn kêu gọi quyên tiền cất miếu cùng hai bài thi ca ngợi công đức Mạc Thiên Tứ của chí sĩ Nguyễn Thần Hiến, và bốn bài thơ luật Nôm trích trong "Hà Tiên thập vịnh" của Mạc Thiên Tứ...
                </p>


                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/daophuquoc">Đảo Phú Quốc</a></li>
                    <li><a href="http://localhost:60785/Places/langchaiHN">Làng Chài Vạn Ninh</a></li>
                    
                    <li><a href="http://localhost:60785/Places/hatien">Hà Tiên</a></li>

                </ol>
            </div>
          
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
