@{
    ViewBag.Title = "langchaiHN";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Làng Chài Hàm Ninh</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/KienGiang/LangChaiHamNinh.jpg"  class="img-circle" style="width: 500px; height: 200px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>
                <p>
                    Đến Hàm Ninh (Phú Quốc, Kiên Giang), bạn sẽ được thăm lại ngôi làng xưa, hòa mình cùng cuộc sống của những ngư dân chất phác nơi đây với nghề chính là lặn bắt ngọc trai, hải sâm và giăng lưới. Hàm Ninh ngày nay còn được biết đến với cầu cảng Bãi Vòng, những bãi biển xinh đẹp và làng chài Hàm Ninh mộc mạc và hấp dẫn.<br>

                    Đến làng chài Hàm Ninh bạn có thể nhìn thấy cuộc sống nguyên vẻ hoang sơ với nhà tranh vách tre.<br>

                    Thời Minh Mạng, Hàm Ninh là thôn thuộc tổng Phú Quốc, huyện Hà Châu, phủ An Biên, tỉnh Hà Tiên. Trải qua thời Thiệu Trị, Tự Đức, đến đầu thời Pháp thuộc, Hàm Ninh thuộc hạt Kiên Giang, rồi Rạch Giá, rồi Hà Tiên. Từ ngày 25/05/1874, Hàm Ninh thuộc hạt Phú Quốc. Từ ngày 16/06/1875, Hàm Ninh thuộc hạt Hà Tiên. Từ ngày 05/01/1876, gọi là làng thuộc hạt Hà Tiên. Từ ngày 20/08/1888, đổi thuộc hạt Châu Đốc. Từ ngày 27/12/1892, lại thuộc hạt Hà Tiên.<br>

                    Làng chài Hàm Ninh nằm trên bờ biển phía Ðông đảo, sau lưng là núi rừng, trước mặt là biển cả mênh mông. Biển Hàm Ninh ra xa vài trăm thước mà vẫn còn cạn. Khi nước ròng, bãi cát mênh mông chạy tít ra xa, lúc nước lên, tràn ngập bãi, vào tận mé rừng. Ðứng trên bãi Hàm Ninh, nhìn ra xa có thể thấy quần đảo Hải Tặc; chệch về Ðông Nam, hòn Nghệ mờ mờ trên làn nước biếc; phía Nam là mũi Ông Ðội - mũi đất cuối cùng của đảo.<br>
                    Ấn tượng đầu tiên khi đến mảnh đất này là bạn sẽ được chiêm ngưỡng ngọn núi Hàm Ninh 300m cao ngất. Đá chồng đá, dựng đứng rêu phong tạo nên một vùng mây khói hòa giữa màu xanh của núi rừng và biển trời mênh mông Phú Quốc.<br>
                    Với cái sống thanh bình trải qua hàng trăm năm của làng chài Hàm Ninh, Ngôi làng bám biển quanh năm sống bằng những hải vật đánh bắt được. Cuộc sống nghèo là vậy nhưng họ vẫn bám với nơi này. Vì đây là quê hương mà họ đã sinh ra và lớn lên từ bao đời.<br>

                    Nếu một lần đến đây bạn đừng quên chọn mua những con ghẹ Hàm Ninh nổi tiếng chắc thịt đang còn lội tươi rói, đem hấp chấm muối tiêu vừa thưởng thức vừa ngắm biển Hàm Ninh đẹp rực rỡ năng vàng.<br>
                </p>


                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
            
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/daophuquoc">Đảo Phú Quốc</a></li>
                    <li><a href="http://localhost:60785/Places/langchaiHN">Làng Chài Vạn Ninh</a></li>

                    <li><a href="http://localhost:60785/Places/hatien">Hà Tiên</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
