@{
    ViewBag.Title = "lungngochoang";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Khu bảo tồn thiên nhiên Lung Ngọc Hoàng</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/HauGiang/LNH.JPG"   class="img-circle" style="width: 500px; height: 200px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>
                <p>
                    Khu bảo tồn thiên nhiên Lung Ngọc Hoàng được thành lập theo Quyết định số 13/2002/QĐ-TTg ngày 14-01-2002 của Thủ tướng Chính phủ, phía Bắc giáp xã Phương Bình; phía Nam giáp xã Phương Phú; phía Đông giáp xã Tân Phuớc Hưng (thuộc huyện Phụng Hiệp); phía Tây giáp huyện Long Mỹ. Tọa độ địa lý: từ 09041’ đến 09045’ vĩ độ Bắc, từ 105039’ đến 105043’ kinh độ Đông. Tổng diện tích khu bảo tồn là: 2. 805, 37 ha, bao gồm: phân khu bảo vệ nghiêm ngặt: 976, 28 ha, phân khu phục hồi sinh thái: 963, 45 ha, phân khu hành chính, dịch vụ, du lịch: 404, 61 ha, khu thực nghiệm khoa học: 461, 03 ha. Vùng đệm của Khu bảo tồn thiên nhiên Lung Ngọc Hoàng có diện tích 8.836, 07 ha, bao quanh Khu bảo tồn thiên nhiên Lung Ngọc Hoàng, phía Bắc giáp kênh Lái Hiếu, phía Nam giáp kênh Quản Lộ - Phụng Hiệp, phía Đông giáp kênh Búng Tàu và kênh Xẻo Xu, phía Tây giáp kênh Cầu Nam.<br>
                    <br>Khu bảo tồn sinh thái quy tụ các loài sinh vật quý hiếm, phong phú, nhiều chủng loại:<br>
                    <li>Về thực vật, các cánh rừng trong lung hiện nay có đầy đủ hệ thực vật thuộc hệ sinh thái đất ngập nước với những quần thể rất đa dạng. Đó là các loài dây choại mọc dưới gốc hoặc trên thân tràm, lau, sậy, bòng bong... Những loài trên cạn cũng khá nhiều như trâm sắn, ngái lông, mua, gừa...Đến tháng 11-2009, tại khu bảo tồn đang tồn tại trên 330 loài thực vật với 224 chi, 92 họ. Trong số này có 56 loài mới phát hiện. Với số loài thực vật phong phú như vậy, lung Ngọc Hoàng sẽ là nơi nghiên cứu khoa học, bảo vệ các thảm thực vật quý, đồng thời kết hợp phát triển du lịch sinh thái, tái tạo các mảng sinh cảnh trên vùng đất ngập nước hiếm hoi còn sót lại của khu vực Đồng bằng Sông Cửu Long.</li>
                    <li> Về động vật, Lung Ngọc Hoàng hiện quy tụ nhiều loài động vật quý hiếm, trong đó có loài đang nằm trong sách đỏ Việt Nam và thế giới như rái cá lông mũi, rùa nắp, rắn hổ mang... Tất cả có 206 loài, trong đó có chín loài chim quý hiếm là bạc má, cà cuốc, cò ốc, giang sen, cò lạo xám, ác là... và các loài thú như dơi chó, rái móng, chồn mực, cáo mèo cùng các loài quý hiếm khác như càng đước, cua đinh, rùa vàng, ếch giun, cá còm...</li>
                    <br>Khu bảo tồn thiên nhiên Lung Ngọc Hoàng thật sự là nơi phát triển du lịch sinh thái, bảo vệ các loài sinh vật bản địa, đặc biệt là các loài động vật quý hiếm, tái tạo các mẫu sinh cảnh cuối cùng còn sót lại của vùng đồng bằng ngập nước Tây Sông Hậu. Cung cấp nguồn giống sinh vật tự nhiên cho các tỉnh phụ cận… Trong tương lai khu bảo tồn thiên nhiên Lung Ngọc Hoàng sẽ là nơi nghỉ ngơi, giải trí… cho du khách tham quan trong và ngoài nước. Đến Lung Ngọc Hoàng, du khách có dịp đi xuồng nhỏ giăng câu, thả lưới, đâm cá....Du khách sẽ gặp những cánh đồng hoang vu xa tít tận phía chân trời với những bầy le le, cò trắng chập chờn tung cánh giữa mênh mông hoang dã...<br>


                    <div class="col-md-2">

                    </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/denthoBH">Đền thờ Bác Hồ</a></li>
                    <li><a href="http://localhost:60785/Places/lungngochoang">Khu bảo tồn thiên nhiên Lung Ngọc Hoàng</a></li>
                    <li><a href="http://localhost:60785/Places/chonoiPH">Chợ nổi Phùng Hiệp</a></li>
                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
