@{
    ViewBag.Title = "muicamau";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Mũi Cà Mau</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/CaMau/MuiCaMau.jpg"  class="img-circle" style="width: 450px; height: 450px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


             
                <p>
                    Mũi Cà Mau thuộc huyện Ngọc Hiển, cách thành phố Cà Mau 118km bằng đường thủy. Mũi Cà Mau là nơi duy nhất trên đất liền Việt Nam du khách thấy mặt trời mọc trên phía Đông và lặn ở phía Tây.<br>

                    <br>Mũi Cà Mau như một vòng cung, mỗi năm phù xa theo những con sông đổ về lắng tụ đã tạo nên ở đây các bãi bồi dài khoảng 100m, rộng hàng trăm ha dọc theo phía Đông và phía Tây. như một hiện tượng tự nhiên, hàng năm mở rộng diện tích ra biển tới vài trăm hecta. Cây mắm, cây bần, cây đước cứ theo thế mà phát triển mở rộng dần diện tích rừng ngập mặn đem lại nguồn lợi to lớn về tôm cá và nhiều loại thủy sinh khác. Nằm sâu trên đất liền là các loại rừng ngập nước với rừng tràm và các trảng cỏ ngập nước theo mùa. Với 239 loài thực vật cổ rừng tràm và rừng ngập mặn, 36 loài thú thuộc 17 họ, 194 loài chim, 260 loài cá và nhiều loài lưỡng cư, bò sát, trong số đó có những loài quý hiếm như: khỉ đuôi dài, rái cá lông mượt, mèo cá, sóc chuột lửa, cá sấu hoa cà, rùa, kỳ đà hoa, trăn gấm…<br>

                    Vùng đất tận cùng của tổ quốc được khai phá từ những năm cuối thế kỷ 17 đầu thế kỷ 18. Mũi Cà Mau nói riêng và tỉnh Cà Mau nói chung được xem là vùng đất giao thoa của ba màu văn hóa: Việt – Hoa – Khmer. Đây cũng chính là lý do khiến vùng đất mũi có sự đa dạng về văn hóa cũng như phong tục tập quán.<br>

                    Đứng trên mũi Cà Mau, du khách có thể ôm trọn tầm mắt cụm đảo Hòn Khoai – một trong những cụm đảo đẹp nhất của Tổ Quốc với các địa danh như Hòn Sao, Hòn Lớn, Hòn Tượng, Hòn Đồi Mồi…<br>

                    Đến đây du khách mới được ngắm nhìn vẻ đẹp hùng vĩ của rừng, bao la của biển cả. Đến đất Mũi, du khách được thưởng thức đặc sản tươi ngon còn mặn mùi phù sa như hàu, sò huyết, sò lông, vọp, ốc len, tôm, cua, ghẹ,… vừa trải lòng với các bài ca vọng cổ đằm thắm, sâu lắng đi vào lòng người, mạng đậm nét văn hóa truyền thống Đồng Bằng Nam Bộ<br>
                </p>


                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
            
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/muicamau">Mũi Cà Mau</a></li>
                    <li><a href="http://localhost:60785/Places/runguminh">Rừng U Minh</a></li>
                    <li><a href="http://localhost:60785/Places/daohonkhoai">Đảo Hòn Khoai</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>