@{
    ViewBag.Title = "nhacoBT";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Nhà cổ Bình Thủy</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/CanTho/NhaCoBinhThuy.jpg"  class="img-circle" style="width: 470px; height: 470px;" alt="">
                </div>

                <p>
                    Ngôi nhà cổ còn chứa trong nó một “kho đồ cổ” quý giá được gìn giữ từ bao đời nay như hai bộ bàn ghế xuất xứ từ Vân Nam – Trung Quốc, mặt bàn bằng đá cẩm thạch, vân xanh, đường kính 1,5m, dầy hơn 6cm, bộ xa lông kiểu Pháp đời Louis 15 mặt bàn bằng đá cẩm thạch sắc xanh, chùm đèn bạch đăng TK18, cặp đèn treo TK19… Thú chơi đồ cổ của gia đình họ Dương đất Bình Thuỷ đã lẫy lừng “lục tỉnh”. Vào thập niên 70, chỉ cần bỏ ra 2-3 cây vàng mua được căn nhà lầu giữa phố chợ thì có người trả cho bình thượng ngọc men xanh cao 1,2m những 25 cây vàng, sau khi đã trừ hàng chục cây vì ai đó đã giát vàng quanh miệng bình làm ảnh hưởng đến lớp men!. Ly kỳ hơn là chuyện mua ngà voi trên Sài Gòn những năm 40 rồi vua muối đất Bạc Liêu Trần Trinh Trạch đòi nhượng lại với giá “bao nhiêu cũng được” nhưng họ Dương không chịu bán mà rước về Bình Thuỷ… coi chơi.
                    <br />
                    <br>
                    Đến với nhà cổ Bình Thủy, du khách còn có cơ hội thưởng ngoạn vườn Lan với nhiều loại Lan và xương rồng quý hiếm được vun trồng từ hậu duệ của gia đình họ Dương. Ngôi nhà cổ này còn lưu giữa nhiều kho nội thất cổ như bộ bàn ghế cổ bằng cẩm thạch, sa – lông đời vua Louis 15, bộ tách chén đời Minh – Thanh…đều là những cổ vật khiến gia đình họ Dương lẫy lừng về thú vui sưu tầm đồ cổ của cả lục tỉnh Nam Kì.
                    <br />
                    <br>
                    Ngắm nhìn ngôi nhà, những người trẻ như thấy được cuộc sống của cha ông thời xưa, người già hoài niệm về quá khứ, những người xa xứ thì thấy được cội nguồn của dân tộc…Vì vậy, ngôi nhà còn có giá trị tinh thần rất cao, hấp dẫn du khách trong và ngoài nước.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/dulichMK">Làng du lịch Mỹ Khánh</a></li>
                    <li><a href="http://localhost:60785/Places/nhacoBT">Nhà cổ Bình Thủy</a></li>
                    <li><a href="http://localhost:60785/Places/vuoncoBL">Vườn Cò Bằng Lăng</a></li>

                </ol>
            </div>
          
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
