@{
    ViewBag.Title = "nuicam";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Núi Cấm</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/AnGiang/NuiCam.jpg"  class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Được mệnh danh là nóc nhà của vùng Đồng Bằng Sông Cửu Long, có giá trị lớn về du lịch, văn hóa, lịch sử và tín ngưỡng, bên cạnh Núi Sam, Núi Cấm đã trở thành điểm đến không thể bỏ qua khi du lịch An Giang.
                    <br />
                    <br>
                    Đây là địa danh du lịch rất nổi tiếng của An Giang và ĐBSCL vì khí hậu mát mẻ, phong cảnh đẹp và cây cối luôn xanh tươi.
                    <br />
                    <br>
                    Trên núi có: Chùa Vạn Linh, chùa Phật Lớn, tượng Phật Di Lặc, Cao Đài Tự…Từng được xưng tụng bằng nhiều mỹ từ, là “nóc nhà của đồng bằng”, hoặc một Đà Lạt thứ hai giữa vùng sông nước miền Tây.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/culaogieng">Cù Lao Giêng</a></li>
                    <li><a href="http://localhost:60785/Places/nuicam">Núi Cấm</a></li>
                    <li><a href="http://localhost:60785/Places/nuisam">Núi Sam</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Back to top</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
