@{
    ViewBag.Title = "nuisam";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Núi Sam</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/AnGiang/NuiSam.jpg"  class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Núi Sam cao 284 m có chu vi 5.200m, là một địa điểm du lịch nổi tiếng ở Các tỉnh miền tây. Theo truyền thuyết, núi có nhiều linh hiển, nên có nhiều chùa thờ Phật đã dựng lên tại đây gần 2 thế kỷ. Ðồng bào khắp nơi hành hương về đây cúng lễ rất đông.
                    <br />
                    <br>
                    Nhìn từ xa, ngọn núi mang dáng dấp con Sam này ẩn chứa sự lẻ loi, cô đơn giữa vùng đồng bằng Long Xuyên – Châu Đốc. Là núi trẻ, nhiều cây xanh bóng mát với nhiều màu áo, bao quanh bởi kênh rạch, đền chùa cổ, đã không ít người ví quang cảnh núi Sam như một bức tranh phong thủy đẹp và cuốn hút.
                    <br />
                    <br>
                    Con đường quanh co đưa du khách lên đỉnh núi ngập tràn nhiều loại cây bụi, cây chồi tái sinh xen những vạt tầm vong đều vạt hai bên đường trong cái không khí êm đềm, nảy nở của mùa xuân. Xen lẫn điệp, bằng lăng, trâm…và những cây phổ biến của rừng thứ sinh, quý khách sẽ có cơ hội ngắm nhìn hoa Ti-gôn quý phái. Không rõ nguyên nhân và không biết từ bao giờ, núi Sam có khá nhiều hoa Ti-gôn, ngắm nhìn những cánh hoa hồng tươi, leo quấn trên thân cây điệp hay lăng ổi..nghe văng vẳng bên tai tiếng chim hót, gió reo…du khách sẽ có cảm giác như cuộc sống thật bình yên và đáng yêu.
                    <br>
                    <br>
                    Trên đỉnh, còn dấu tích một bệ đá, nơi tượng Bà Chúa Xứ Núi Sam ngự, trước khi được đem về miếu. Bệ đá có chiều ngang 1,60m; dài 0,3m, chính giữa có lỗ vuông cạnh 0,34m, loại trầm tích thạch màu xanh đen, hạt nhuyễn.
                    <br>
                    <br>
                    Trên và quanh núi Sam có rất nhiều chùa miếu, trong đó nổi tiếng nhất là Miếu Bà chúa Xứ, Chùa Tây An, lăng Thoại Ngọc Hầu, Chùa Phước Điền (còn gọi Chùa Hang) là những hạng mục trong Khu di tích lịch sử – Văn hoá núi Sam đã được Bộ Văn hóa, Thể thao và Du lịch Việt Nam công nhận là di tích cấp quốc gia.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
              
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/culaogieng">Cù Lao Giêng</a></li>
                    <li><a href="http://localhost:60785/Places/nuicam">Núi Cấm</a></li>
                    <li><a href="http://localhost:60785/Places/nuisam">Núi Sam</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
