@{
    ViewBag.Title = "phuquoc";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Đảo Phú Quốc</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/KienGiang/PhuQuoc.jpg"  class="img-circle" style="width: 500px; height: 200px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>
                <p>
                    Phú Quốc, còn được mệnh danh là Đảo Ngọc, là hòn đảo lớn nhất của Việt Nam, cũng là đảo lớn nhất trong quần thể 22 đảo tại đây, nằm trong vịnh Thái Lan. Đảo Phú Quốc cùng với các đảo khác tạo thành huyện đảo Phú Quốc trực thuộc tỉnh Kiên Giang. Toàn bộ huyện đảo có tổng diện tích 589,23 km² (theo thống kê số liệu đất năm 2005), xấp xỉ diện tích đảo quốc Singapore thập niên 1960 khi chưa san lấp lấn biển.[1] Thị trấn Dương Đông, tọa lạc ở phía tây bắc, là thủ phủ của huyện đảo. Phú Quốc nằm cách thành phố Rạch Giá 120 km và cách thị xã Hà Tiên 45 km. Năm 2006, Khu dự trữ sinh quyển ven biển và biển đảo Kiên Giang bao gồm cả huyện này được UNESCO công nhận là khu dự trữ sinh quyển thế giới.
                    <br>
                    Vùng biển Phú Quốc có 22 hòn đảo lớn nhỏ, trong đó đảo Phú Quốc lớn nhất có diện tích 567 km² (56.700 ha), dài 49 km. Địa hình thiên nhiên thoai thoải chạy từ bắc xuống nam với 99 ngọn núi đồi. Tuy nhiên, cụm đảo nhỏ của cảng An Thới bị ngăn cách hẳn với phần mũi phía nam của đảo Phú Quốc bởi một eo biển có độ sâu tới hơn 60 m.
                    <br>
                    Thời tiết mát mẻ mang tính nhiệt đới gió mùa. Khí hậu chia hai mùa rõ rệt.

                    Mùa khô: Đảo Phú Quốc chịu ảnh hưởng gió mùa Đông Bắc Nhiệt độ cao nhất 35 độ C vào tháng 4 và tháng 5.

                    Mùa mưa: Đảo Phú Quốc là cửa ngõ đón gió mùa Tây - Tây Nam, độ ẩm cao từ 85 đến 90%.
                    <br>
                    Phú Quốc được chia thành:
                    <br>
                    Bao gồm 2 thị trấn: Thị trấn Dương Đông và thị trấn An Thới <br>
                    Với 8 xã:<br>

                    Xã Dương Tơ,
                    Xã Cửa Cạn,
                    Xã Gành Dầu
                    Xã Cửa Dương,
                    Xã Bãi Thơm,
                    Xã Hòn Thơm,
                    Xã Hàm Ninh,
                    Xã Thổ Châu.<br>
                    Trước khi thành lập huyện Kiên Hải, huyện Phú Quốc có 1 thị trấn Dương Đông và 13 xã: Dương Tơ, Cửa Cạn, Cửa Dương, Bãi Thơm, An Thới, Hàm Ninh, Thổ Châu, Nam Du, Bà Lụa, Hòa Đốc, Hòn Nghệ, Hòn Tre, Lai Sơn.

                </p>


                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/daophuquoc">Đảo Phú Quốc</a></li>
                    <li><a href="http://localhost:60785/Places/langchaiHN">Làng Chài Vạn Ninh</a></li>

                    <li><a href="http://localhost:60785/Places/hatien">Hà Tiên</a></li>

                </ol>
            </div>
        
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
