@{
    ViewBag.Title = "rachnui";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Khu di tích khảo cổ Rạch Núi</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/LongAn/RachNui.jpg"   class="img-circle" style="width: 500px; height: 200px;" alt="">
        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>

                <p>
                    Di tích khảo cổ học Rạch Núi là một gò đất rộng khoảnh một hecta nằm tại ấp Tây, xã Đông Thạnh, huyện Cần Giuộc, tỉnh Long An, Việt Nam. Đường kính trung bình 100 m, cao hơn 6 m so với mặt đất tự nhiên, xung quanh có rạch bao bọc. Trên mặt gò có nhiều cây cổ thụ, bao quanh gò là rạch núi là một con rạch nhỏ nhánh của Sông Cần Giuộc (Sông Rạch Cát). Do địa thế cao giữa khu vực đồng bằng nên còn được gọi theo dân gian là gò Núi Đất (hay thổ sơn). Được Bộ Văn Hóa - Thông Tin công nhận di tích lịch sử- văn hóa quốc gia tại quyết định số 38/1999-QĐ-BVHTT ngày 11 tháng 6 năm 1999
                    <br>
                    <br> Cuộc khai quật di tích Rạch Núi lần đầu trên quy mô nhỏ, diện tích 60 m2 nhưng cũng đã thu được nhiều tài liệu có giá trị cho việc nghiên cứu đặc điểm - tính chất xã hội cổ trong vùng đất phía nam lưu vực sông Đồng Nai.
                    <br>
                    <br> Cuộc khai quật di tích Rạch Núi lần thứ hai từ tháng 1-tháng 2, năm 2003, do Bảo tàng Long An hợp tác với Bảo tàng Lịch Sử Việt Nam, đã có thêm những phát hiện mới về di vật như rìu vai, vòng tay bằng yếm rùa, đồ trang sức bằng vỏ sò ốc; nhiều công cụ chế tác đá như hòn ghè, bàn mài, hàng vạn mảnh gốm cổ, trong đó có những mẫu gốm thể hiện mối quan hệ với gốm ở các di tích tiền sử thuộc khu vực đất xám trên phù sa cổ An Sơn, Lộc Giang (Đức Hoà).
                    <br>
                    <br> Dựa trên tư liệu và hiện vật phát hiện được từ hai cuộc khai quật trên, có thể nhận định rằng di tích khảo cổ học Rạch Núi có thề đã được khởi dựng cách nay khoảng 3.000 năm. Từ trên một vùng gò thấp ven biển , xung quanh là đầm lầy, rừng ngập mặn, những chủ nhân đầu tiên của vùng đất nầy đã tụ cư và thể hiện nhiều sáng tạo trong việc khai thác mọi nguồn sản vật tự nhiên từ sông - biển , để lại những tầng lớp văn hóa vật chất , những bếp lửa sinh hoạt thời tiền sử, những kiểu công cụ lao động đặc sắc, có giá trị khoa học. Trải qua vài trăm năm, nơi cư trú của những cộng đồng cư dân cổ ở đây đã trở thành một gò ''núi đất'' giữa cánh đồng phù sa trủng thấp, chứa đựng những thông tin khoa học quan trọng về một nền văn minh cổ thời đại ''hậu kỳ đá mới - sơ kỳ đồng'' ở lưu vực sông Đồng Nai - Vàm Cỏ.
                </p>

                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/dongthap10">Khu du lịch sinh thái Đồng Tháp Mười</a></li>
                    <li><a href="http://localhost:60785/Places/chuatonthanh">Chùa Tôn Thạnh</a></li>
                    <li><a href="http://localhost:60785/Places/binhta">Di tích lịch sử Bình Tả</a></li>

                </ol>
            </div>
           >
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
