@{
    ViewBag.Title = "rungbienbaclieu";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Du lịch rừng và biển Bạc Liêu</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/BacLieu/DuLichRungBienBacLieu.jpg"    class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Rừng ở Bạc Liêu chủ yếu là rừng ngập mặn, có năng suất sinh học và giá trị về phòng hộ, bảo vệ môi trường, phát triển kinh tế. Diện tích đất lâm nghiệp khoảng 5.879 ha, trong đó đất rừng là 5.509 ha. Nhằm bảo vệ môi trường sinh thái, Bạc Liêu đang từng bước khôi phục và phát triển rừng phòng hộ và các khu bảo tồn thiên nhiên như Sân chim Bạc Liêu, Vườn cò huyện Phước Long, Vườn cò huyện Đông Hải …
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
         
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/vuonchimbl">Vườn chim Bạc Liêu</a></li>
                    <li><a href="http://localhost:60785/Places/rungbienbaclieu">Du lịch rừng và biển Bạc Liêu</a></li>
                    <li><a href="http://localhost:60785/Places/congtubaclieu">Nhà công tử Bạc Liêu</a></li>

                </ol>
            </div>
         
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
