@{
    ViewBag.Title = "runguminh";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Rừng U Minh</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/CaMau/UMinh.jpg"  class="img-circle" style="width: 450px; height: 450px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>
                <p>
                    Rừng U Minh được chia thành U Minh Thượng thuộc về địa phận tỉnh Kiên Giang và U Minh Hạ thuộc địa phận tỉnh Cà Mau. Với diện tích khoảng 35000ha, U Minh Hạ là một trong những vườn quốc gia có hệ sinh thái vô cùng đa dạng.<br>
                    Giữa U Minh Thượng và U Minh Hạ là sông Trẹm và sông Cái Tàu. Nơi đây thiên nhiên hùng vĩ và hoang sơ.<br>
                    Với đặc điểm một mùa khô hạn và một mùa nước ngập, U Minh Hạ là một trong những vườn quốc gia có diện tích rừng tràm lớn nhất cả nước. Đến với Rừng U Minh Hạ, du khách sẽ có cơ hội trải nghiệm cùng hệ sinh thái đất ngập nước trên lớp than bùn vô cùng đặc sắc và hiếm hoi của cả nước. Bên cạnh diện tích tràm chiếm phần lớn, U Minh Hạ còn là chiếc nôi của vô vàn các loại dây leo, là một vương quốc cổ tích thu nhỏ của các lại chim chóc, cá đồng, trăn, khỉ, cheo, heo rừng, nai…<br>


                    Du khách có thể vừa ngồi dưới những tàn tràm rộng lớn, vừa lai rai nâng chén với những món ăn dân dã như cá lóc đồng nướng trui, rắn bông súng chấm muối ớt, xuống đầm hái bông lục bình, bông súng ma hay đọt cóc kèn…những hoạt động bình dị nhưng đáng nhớ.<br>
                    Đi dạo quanh rừng U Minh Hạ, du khách sẽ có cơ hội nghe kể về truyền thuyết Ông hổ mây nổi tiếng hay những câu chuyện về kháng chiến oanh liệt một thời qua những người chèo xuồng, đâu đó văng vẳng bên tai những câu hò đậm chất nam bộ.<br>

                    Nghe đờn ca tài tử, thấm câu hò nam Bộ, vấn vương điệu hát ngọt ngào, Rừng U Minh sẽ ghi đậm trong lòng du khách những cảm xúc riêng không lẫn lộn.<br>
                    <ul><b>Vai Trò</b></ul>
                    <li>Bảo tồn mẫu chuẩn hệ sinh thái rừng tràm úng phèn trên đất than bùn, một vùng ngập nước quan trọng của hạ lưu sông Cửu Long.</li>

                    <li>Bảo tồn đa dạng sinh học của hệ sinh thái rừng ngập nước, đặc biệt 8 loài chim nước quan trọng và các loài động vât quý hiếm.</li>

                    <li>Góp phần bảo tồn và tôn tạo di tích lịch sử cấp quốc gia về chiến khu cách mạng U Minh Thượng trong thời kỳ chống Pháp và chống Mỹ.</li>

                    <li>Góp phần cân bằng sinh thái, tăng độ che phủ của rừng, đảm bảo an ninh môi trường và sự phát triển bền vững của đồng bằng sông Cửu Long, đồng thời phát huy giá trị của hệ sinh thái rừng tràm phục vụ nghiên cứu khoa học và tham quan, du lịch sinh thái.</li>
                </p>


                <div class="col-md-2">

                </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/muicamau">Mũi Cà Mau</a></li>
                    <li><a href="http://localhost:60785/Places/runguminh">Rừng U Minh</a></li>
                    <li><a href="http://localhost:60785/Places/daohonkhoai">Đảo Hòn Khoai</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
