@{
    ViewBag.Title = "rungtramtrasu";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Rừng tràm Trà Sư</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/AnGiang/RungTramTraSu.jpg"  class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Với sinh cảnh rừng tràm ngập nước và hệ động thực vật phong phú, rừng tràm Trà Sư biểu trưng cho nét đẹp mùa nước nổi An Giang
                    <br />
                    <br>
                    Rừng tràm Trà Sư vào mùa nước nổi, bèo tấm trải đầy mặt nước, trông như tấm thảm nhung xanh mướt.
                    <br />
                    <br>
                    Đây cũng là khu rừng ngập nước nội địa thứ 6 của các tỉnh miền tây . Mặc dù đường vào rừng còn gập ghềnh ổ gà, ổ voi nhưng ai đã một lần đặt chân đến đây sẽ nhanh chóng bị không gian huyền bí của rừng cuốn hút…
                    <br>
                    <br>
                    Cảnh quan rừng tràm Trà Sư
                    <br>
                    <br>
                    Đường vào rừng tràm Trà Sư đi qua một con đường đất đỏ, dọc hai bên đường, du khách sẽ có cơ hội ngắm nhìn những đồng lúa mênh mông bát ngàn xen lẫn những hàng cây thốt nốt cao vút ngàn.
                    <br>
                    <br>
                    Đứng trước cây cầu vào cổng, trước mắt du khách hiện ra con kênh dài với dòng nước mát lành, thi thoảng lại có chú cá vẫy đuôi làm xao động mặt nước. Ngay cạnh đó là cả dãy rừng tràm xa tít, ngăn ngắt màu xanh. Từ đây, du khách không đi bằng xe nữa mà phải dùng ghe, xuồng nhỏ để dễ dàng len lỏi trong các ngóc ngách của rừng. Ngồi trên xuồng, nhè nhẹ từng nhịp chèo khua trên dòng nước trong xanh, ngắm hàng chục loài chim hót véo von trên từng ngọn tràm mà ngỡ như mình đang lạc vào xứ sở thần tiên.
                    <br>
                    <br>
                    Được đầu tư như một khu du lịch sinh thái, đến với rừng tràm Trà Sư, với giá vé từ 50.000 – 60.00/người/thuyền (3 – 5 người), quý khách sẽ được đi sâu vào khu du lịch để tham quan cận cảnh rừng tràm. Ngắm nhìn những mảng bèo xanh ngát mênh mông trải dài trên mặt nước, từng đàn cò trắng tung bay kín cả vạt rừng, tận mắt chứng kiến nhiều muôn thú, chim cá sinh hoạt ẩn hiện bên những tán tràm cổ thụ trong xanh.
                    <br>
                    <br>
                    Đất lành chim đậu, một số loài chim nước sống quanh năm ở đây như cò, cồng cọc, dang sen, bìm bịp, lele… Ngoài ra còn có cả dơi quạ.
                    <br>
                    <br>
                    Trung tâm rừng tràm Trà Sư còn được xây dựng một ngọn tháp ngắm cảnh. Tại đây, quý khách có thể nhìn bao quát toàn bộ rừng tràm với kính viễn vọng (tầm nhìn xa 25km). Quanh rừng tràm, thấp thoáng xa xa còn có khá nhiều ngôi làng của đồng bào Khmer và Kinh sinh sống, nổi tiếng với những làng nghề thủ công mỹ nghệ đặc sắc như dệt lụa Khmer siêu, thổ cẩm, làng nuôi ong mật, khu tinh cất tinh dầu tràm…
                    <br>
                    <br>
                    Rừng tràm Trà Sư là một trong số những khu sinh thái rừng tràm còn sót lại ít ỏi của Việt Nam. Với sự đa dạng cả về động vật và thực vật, ghé thăm rừng tràm là một cơ hội để du khách trải nghiệm thực tế với thiên nhiên hoang dã.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
                
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/culaogieng">Cù Lao Giêng</a></li>
                    <li><a href="http://localhost:60785/Places/nuicam">Núi Cấm</a></li>
                    <li><a href="http://localhost:60785/Places/nuisam">Núi Sam</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
