@{
    ViewBag.Title = "taydo";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Khu vui chơi sinh thái Tây Đô</h1>

    </div>

    <div class="row">


        <div class="col-md-8">

            <img src="~/Images/13T_DiaDiem/HauGiang/TayDo.jpg" class="img-circle" style="width: 500px; height: 200px;" alt="">

        </div>

        <div class="col-sm-8 blog-main">

            <div class="blog-post">


                <p class="blog-post-meta"></a></p>
                <p>
                    Tọa lạc trên diện tích rộng lớn 17,2ha thuộc địa phận ấp Tân Long A, xã Tân Bình, huyện Phụng Hiệp lại thêm vị trí địa lý thuận lợi nằm cạnh quốc lộ 61 cách TP.Cần Thơ 27km và TP.Vị Thanh 32km Trung tâm vui chơi sinh thái Tây Đô hiển nhiên đã trở thành một địa điểm tham quan, vui chơi giải trí hết sức lý tưởng cho du khách thập phương khi có dịp quá cảnh đến Hậu Giang.<br>

                    Với đa dạng sản phẩm du lịch và nhiều loại hình dịch vụ vui chơi giải trí hấp dẫn dành cho mọi đối tượng du khách từ cao niên, trung niên đến thanh thiếu niên nên hàng năm vào những dịp Lễ Tết nơi đây đón hàng chục ngàn lượt khách ghé thăm.<br>

                    Đến với Trung tâm vui chơi sinh thái Tây Đô du khách có dịp thỏa thích được đắm mình trên những chiếc xuồng ba lá luồng lách qua các kênh rạch nhỏ chiêm ngưỡng cảnh quan thiên nhiên đậm nét hoang sơ nhưng hữu tình cùng với không khí trong lành, thoáng đãng sẽ mang lại cho du khách một cảm giác thoải mái, thư thái đến lạ sau những ngày làm việc căng thẳng, mệt mỏi. Ngoài ra, du khách nào yêu thích động vật thì có thể đến với vườn bách thú thu nhỏ tham quan, ngắm nhìn những thú nuôi hoang dã nhưng hết sức đặc trưng mà chỉ có ở Trung tâm vui chơi sinh thái Tây Đô.<br>

                    Với nhiều hòn non bộ mang hình điềm lành hội tụ: Long, Phụng, Trâu, Voi, Nai, công viên hoa kiểng, tranh tượng cổ tích, hồ cá cảnh và rất nhiều khu nhà rông Nam Bộ phục vụ ăn uống với các món đặc sản đồng quê vừa ngon giá cả lại bình dân do những đầu bếp lành nghề chế biến theo yêu cầu của du khách.<br>

                    Đến đây du khách còn được thưởng lãm nhiều điều kỳ thú từ thiên nhiên: Cảnh đẹp thanh bình nơi thôn dã, các lều võng, chòi nghỉ được bố trí dưới vườn cây ăn trái bốn mùa trĩu quả, quý khách có thể tận hưởng vị ngon ngọt và nhấm nháp ly nước mát lạnh với những phút giây tĩnh lặng ấm áp, hạnh phúc bên cạnh bạn bè, người thân.<br>

                    Bên cạnh đó, Trung tâm vui chơi sinh thái Tây Đô còn có cả một hệ thống phòng nghỉ, khách sạn sạch đẹp, đầy đủ tiện nghi cùng với các trò chơi thư giãn về đêm như thi cờ tướng, bida, karaoke, khu sân khấu với các nhóm đờn ca tài tử luôn sẵn sàng phục vụ quý khách.<br>


                    <div class="col-md-2">

                    </div>






            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
            
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                   
                    <li><a href="http://localhost:60785/Places/denthoBH">Đền thờ Bác Hồ</a></li>
                    <li><a href="http://localhost:60785/Places/lungngochoang">Khu bảo tồn thiên nhiên Lung Ngọc Hoàng</a></li>
                    <li><a href="http://localhost:60785/Places/chonoiPH">Chợ nổi Phùng Hiệp</a></li>
                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>