@{
    ViewBag.Title = "trairan";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Trại rắn Đồng Tâm</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/TienGiang/Tr%e1%ba%a1i%20r%e1%ba%afn%20%c4%90%e1%bb%93ng%20T%c3%a2m.jpg"   class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Du khách còn được hướng dẫn viên giới thiệu về sinh lý, sinh thái, tập quán, sự phát triển của từng loại rắn. Từ những loài rắn hiền lành như: rắn ráo, rắn nước… đến các loài rắn độc như hổ chúa hổ mang, cạp nong ( mai gầm ) cạp nia ( mai bạc )… Nếu các bạn đến đúng dịp có thể tận mắt nhìn thấy sự sinh sản tự nhiên của các loài rắn trong khu bảo tồn, hay là sự lấy nọc rắn để sản xuất thuốc.
                    <br>
                    <br>
                    Bên cạnh đó còn được chiêm ngưỡng tận mắt những loài động vật quí hiếm như gấu, cá sấu , ba ba vàng đà điểu ….
                    <br>
                    <br>
                    Đặc biệt có nhà bảo tàng rắn duy nhất ở Việt Nam được xác lập kỷ lục Guiness Việt Nam, bảo tàng đã trưng bày hơn 50 mẫu rắn các loại với nhiều loài quí hiếm.
                    <br>
                    <br>
                    Đến với Trại rắn Đồng Tâm du khách còn có dịp tìm hiểu thêm về những cây thuốc nam là nguồn dược liệu vô cùng quí giá đang được lưu trữ và nhân giống để phục vụ chữa bệnh cho quân và dân.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/chonoi">Chợ nổi Cái Bè</a></li>
                    <li><a href="http://localhost:60785/Places/culaoTS">Cù lao Thới Sơn</a></li>
                   
                    <li><a href="http://localhost:60785/Places/chuavinhtrang">Chùa Vĩnh Tràng</a></li>

                </ol>
            </div>
         
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
