@{
    ViewBag.Title = "tramchim";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Vườn quốc gia Tràm Chim</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/DongThap/VuonQuocGiaTramChim.jpg"  class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Vường quốc gia Tràm Chim được ví là một Đồng Tháp Mười thu hẹp với hệ sinh vật phong phú, đa dạng của vùng ngập nước.
                    <br>
                    <br>
                    Vườn Quốc gia Tràm Chim có diện tích 7.588ha. Là nơi sinh sống của nhiều loài thực vật, gần 200 loài chim nước, chiếm khoảng 1/4 số loài chim có ở Việt Nam, trong đó có nhiều loài chim quý hiếm trên thế giới. Loài chim điển hình nhất và được nhiều người biết đến ở đây là sếu đầu đỏ.
                    <br>
                    <br>
                    Hằng năm từ cuối tháng 12 đến đầu tháng 5 là lúc đàn sếu bay về Tràm Chim cứ trú. Đến đây vào thời gian này, bạn sẽ chứng kiến từng đàn sếu bay về hòa cùng các loài chim khác để kiếm ăn. Chính vì thế mà từ lâu cái tên Tràm Chim đã trở nên quen thuộc với báo chí và nhiều tổ chức quốc tế.
                    <br>
                    <br>
                    Vườn quốc gia Tràm Chim đã được Nhà nước đầu tư, nâng cấp, mở rộng thành một bảo tàng thiên nhiên, một trung tâm du lịch sinh thái hấp dẫn. Nhiều tổ chức bảo tồn thiên nhiên quốc tế cũng tài trợ để bảo vệ tràm chim quý hiếm này. Đây chính là điểm hẹn lý tưởng cho du khách bốn phương.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">
                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/langhoakieng">Làng hoa kiểng Sa Đéc</a></li>
                    <li><a href="http://localhost:60785/Places/tramchim">Vườn quốc gia Tràm Chim</a></li>
                    <li><a href="http://localhost:60785/Places/langcuphobang">Lăng cụ phó bảng</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Back to top</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
