@{
    ViewBag.Title = "vanthanhmieu";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Văn thánh Miếu</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/VinhLong/v%c4%83n%20Th%c3%a1nh%20Mi%e1%ba%bfu.jpg"  class="img-circle" style="width: 400px; height: 360px;" alt="">
                </div>

                <p>
                    Bên cạnh Văn Miếu là Văn Xương thờ các thần văn học và danh sỹ như Võ Trường Toản, Phan Thanh Giản… những người có công đối với nền giáo dục của nước nhà.
                    <br>
                    <br>
                    Tại đây có những bi ký ghi lại quá trình xây dựng và phát triển quần thể di tích.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
              
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/vinhsan">Trang trại Vinh Sang</a></li>
                    <li><a href="http://localhost:60785/Places/chuatienchau">Chùa Tiên Châu</a></li>
                    <li><a href="http://localhost:60785/Places/culao">Cù lao An Bình</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
