@{
    ViewBag.Title = "vinhsan";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Trang trại Vinh Sang</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/VinhLong/trang%20trai%20Vinh%20Sang.jpg"  class="img-circle" style="width: 420px; height: 380px;" alt="">
                </div>

                <p>
                    Khu du lịch này có dạng hình tam giác mà một cạnh nằm cặp theo bờ sông Cổ Chiên, đối diện thành phố Vĩnh Long.
                    <br>
                    <br>
                    Tại Vinh Sang, du khách có thể tham gia trò chơi cảm giác mạnh đó là câu cá sấu từ 05 năm tuổi trở lên, du khách tự mình nhử mồi và câu cá sấu.
                    <br>
                    <br>
                    Tại Khu du lịch Vinh Sang còn có một đàn đà điểu Châu Phi với hơn 60 con trưởng thành. Giữa thiên nhiên tươi mát của miền Tây Nam Bộ du khách thoả thích cưỡi đà điểu đi trên bãi cát. Đây là loài chim to lớn nhất thế giới được nuôi dưỡng và phát triển ngay giữa Đồng bằng châu thổ sông Mêkong, đây còn là một dịch vụ rất được ưa chuộng tại nơi này.
                    <br>
                    <br>
                    Cảm giác được cưỡi trên một con vật to lớn, cũng như phải khéo léo giữ thăng bằng sẽ làm bạn thấy thích thú. Ban đầu bạn sẽ được nhân viên khu du lịch giữ yên, để làm quen, sau đó sẽ tự điều khiển cưỡi đà điểu.
                    <br>
                    <br>
                    Du khách còn có thể tham gia chèo xuồng, giăng lưới, chài cá hoặc be mương tát cá…những con cá nước ngọt tươi rói sẽ càng hấp dẫn hơn khi du khách tự tay mình chế biến món cá nướng thưởng thức ngay tại vườn cùng với rượu nếp nguyên chất hoặc rượu Đào Tiên, hoà mình vào nếp sông dân dã của người dân miền sông nước, du khách còn được thưởng thức những làn điệu dân ca mượt mà qua loại hình Đờn ca tài tử, chắc chắn sẽ mang lại cho du khách cảm giác thoải mái giữa một không gian thật an bình. Du khách còn có thể tham gia vào các hoạt động khác như: tắm sông – trượt nước, các bạn trẻ có thể đi xe đạp dạo quanh đường làng xuyên qua những vườn cây trái trên Cù lao An Bình…
                    <br>
                    <br>
                    Từ du lịch Vinh Sang, du khách đi bằng tàu du lịch vào sâu trong các con rạch nhỏ, tham quan những làng nghề truyền thống nổi tiếng của miệt vườn Nam Bộ nằm ven sông. Du khách được thưởng ngoạn nghề làm kẹo dừa truyền thống của người dân cù lao An Bình tại KDL Vinh Sang, thưởng thức những viên kẹo dừa thơm ngọt. Ngoài ra, du khách còn có thể tham quan lò sản xuất gốm đỏ – một làng nghề truyền thống, nổi tiếng và đặc thù chỉ có ở Vĩnh Long.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/vinhsan">Trang trại Vinh Sang</a></li>
                    <li><a href="http://localhost:60785/Places/chuatienchau">Chùa Tiên Châu</a></li>
                    <li><a href="http://localhost:60785/Places/culao">Cù lao An Bình</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
