@{
    ViewBag.Title = "vuoncoBL";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Chợ đêm Tây Đô</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/CanTho/ChoDemTayDo.jpg"  class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Chợ đêm Tây Đô nhộn nhịp từ 4 giờ chiều khi tiểu thương tất bật dọn hàng, chuẩn bị cho một phiên chợ.
                    <br />
                    <br>
                    Khi tham quan, các du khách sẽ thấy nơi đây được bố trí khoa học, kiến trúc hài hòa với cảnh quan môi trường xung quanh, mang đậm phong cách Nam Bộ. Chợ được chia theo từng gian hang, thông thoáng, gọn gàng, đảm bảo tính thẫm mỹ. Ðường đi lối lại trong chợ được nhựa hóa và thoáng rộng, du khách sẽ không phải chịu cảnh chen lấn xô bồ như các chợ đêm đại trà khác. Rác rưởi, ruồi nhặng…những điều khó chịu khi đi chợ dường như không còn ở chợ đêm Tây Đô bởi vẻ đẹp của hồn quê chất ngất đậm đà hiện diện trong mỗi người gặp. Đây như một đồng bằng sông Cửu Long thu nhỏ, với những nét sinh hoạt giản dị, mộc mạc của người dân Nam Bộ
                    <br />
                    <br>
                    Đến với khu chợ, du khách không chỉ được lựa chọn rất nhiều sản phẩm phong phú, đa dạng mà còn được tham gia các loại hình vui chơi giải trí khác như trò chơi điện tử, sân khấu ca nhạc ngoài trời…hoà quyện vào không khí dịu mát của buổi đêm se se lạnh. Tất cả tạo nên một chợ đêm Tây Đô đậm nét Nam Bộ, một điểm văn hoá du lịch hấp dẫn các du khách gần xa.
                    <br>
                    <br>
                    Có dịp đến Cần Thơ, một lần ghé thăm chợ đêm Tây Đô để cảm nhận một hồn quê phảng phất giữa một thành phố ồn ào, náo nhiệt đang trên đường phát triển….
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/dulichMK">Làng du lịch Mỹ Khánh</a></li>
                    <li><a href="http://localhost:60785/Places/nhacoBT">Nhà cổ Bình Thủy</a></li>
                    <li><a href="http://localhost:60785/Places/vuoncoBL">Vườn Cò Bằng Lăng</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
