@{
    ViewBag.Title = "vuonnhanbl";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Vườn nhãn cổ Bạc Liêu</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/BacLieu/VuonNhanCoBacLieu.jpg" class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Vườn nhãn cổ Bạc Liêu nằm cách trung tâm thành phố Bạc Liêu khoảng 6 km về hướng biển. Vườn nhãn Bạc Liêu chạy dài trên 11km đi qua hai xã Hiệp Thành và Vĩnh Trạch Đông, có tổng diện tích trên 200 ha.
                    <br>
                    <br>
                    Theo lời kể của người dân Bạc Liêu, vườn nhãn Bạc Liêu đã được trồng trên trăm năm trước. Ngày trước, vùng này là đất giồng cát được hình thành qua quá trình bồi lắng của thiên nhiên và do con người đắp đê lấn biển. Đây là loại đất có độ thoát thủy tốt, mực thủy cấp sâu, tầng canh tác dày… được đánh giá khá thích hợp cho việc trồng cây ăn trái và các loại hoa màu.
                    <br>
                    <br>
                    Vườn nhãn cổ trải dài hàng chục km, gốc sần sùi nhiều tán lá sum xuê. Tham quan vườn nhãn cổ trăm tuổi, khách du lịch Bạc Liêu sẽ có cảm giác thật bình yên, thoải mái và yên bình dưới những tán cây nhãn rợp bóng mát rượi cùng không khí trong lành của miền quê miệt vườn. Bỏ qua những cảm giác nóng bức, khó chịu của cái oi bức mùa hè, quý du khách sẽ không thể nào quên cái không khí cùng vị ngọt thanh khó quên của những trái nhãn nơi đây.
                    <br>
                    <br>
                    Đến với vườn nhãn cổ, quý khách sẽ có cơ hội mục kích những cây nhãn thân to hai người ôm không xuể.
                    <br>
                    <br>
                    Hiện nay vườn nhãn cổ trải dài hàng chục km và trên một diện tích hàng trăm héc ta, hàng năm cung cấp ra thị trường hàng trăm tấn quả.
                    <br>
                    <br>
                    Nơi đây có những gốc nhãn cổ hàng trăm năm tuổi thật sự là một mô hình du lịch vườn hấp dẫn. Đến tham quan khu du lịch vườn nhãn, du khách sẽ được thưởng thức mùi vị quyến rũ của những chùm nhãn thơm ngon cùng với những món ăn dân dã là đặc sản do biển cả hào phóng ban tặng, được hưởng không khí trong lành từ gió biển và còn được thưởng thức đờn ca tài tử Nam bộ.
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
          
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/vuonchimbl">Vườn chim Bạc Liêu</a></li>
                    <li><a href="http://localhost:60785/Places/rungbienbaclieu">Du lịch rừng và biển Bạc Liêu</a></li>
                    <li><a href="http://localhost:60785/Places/congtubaclieu">Nhà công tử Bạc Liêu</a></li>

                </ol>
            </div>
            
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>