@{
    ViewBag.Title = "vuonchimbl";
    Layout = "~/Views/Shared/_LayoutTrangHome.cshtml";
}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Vườn chim Bạc Liêu</h1>

    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">

                <p class="blog-post-meta"></a></p>

                <div class="col-md-8">

                    <img src="~/Images/13T_DiaDiem/BacLieu/VuonChimBacLieu.JPG"  class="img-circle" style="width: 450px; height: 450px;" alt="">
                </div>

                <p>
                    Với hệ sinh thái rừng ngập mặn tự nhiên trên diện tích khoảng 385 ha, trong đó có 19 ha rừng nguyên sinh.Vườn chim Bạc Liêu là nơi cư trú của khoảng 46 loài chim, trong đó có một loài chim được ghi vào sách Đỏ như Giang Sen, Cốc Đế nhỏ…, 109 loài thực vật thuộc 90 chi của 46 họ: 150 loài động vật, trong đó có 58 loài cá, 7 loài ếch nhái, 10 loài có vú, 8 loài bò sát và một số động vật khác cùng sống chung trong một quần thể đa dạng, thể hiện cao tính đa dạng sinh học rất cần được bảo tồn và phát triển.
                    <br />
                    <br>
                    Du lịch Bạc Liêu và ghé thăm vườn chim, từ đài quan sát, quý du khách có thể tự do thỏa thích ngắm nhìn những đôi chim hạc đang bay lượn với nhau, từng đàn cò trắng như trong câu chuyện cổ tích. Những đàn chim tung bay xen lẫn cây cối và kênh rạch, tất cả tạo nên một bức tranh quê thật hiền hòa và bình yên. Xa xa trên tán cây chà là, một con chim mẹ đang mớm mồi cho những chú chim non vừa mở mắt. Cuộc sống thật, trải nghiệm thật với thiên nhiên hoang dã chính là nét đặc sắc, là cảm nhận thực mà quý khách sẽ có cơ hội trải qua khi ghé thăm vườn chim Bạc Liêu này.
                    <br />
                    <br>
                    Với lượng du khách ngày càng đông, ban quản lý vườn chim Bạc Liêu đã đầu tư mở rộng và cho đào, xây dựng kênh bao bọc xung quanh, thu hút them nhiều loài động vật khác ngoài chim. Môi trường tự nhiên được đầu tư, từng bước phục hồi cũng là lý do đưa vườn chim Bạc Liêu ngày càng gia tăng về chất lượng cũng như kích thước quần thể.
                    <br>
                    <br>
                    Nếu bạn đến Bạc Liêu trong chuyến du lịch vùng cực nam đất nước, đừng quên ghé thăm vườn chim đầy lý thú này. Khẽ khàng thả hồn với thiên nhiên, bạn sẽ thấy người thư thái hơn sau những ngày bận rộn với công việc mưu sinh đời thường
                </p>

                <div class="col-md-2">

                </div>

                <div class="col-md-2">

                </div>


            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h3>Có thể bạn quan tâm</h3>
            </div>
            <div class="sidebar-module">
               
                <ol class="list-unstyled">

                    <!-- Viết chưa xong 3 csi này nhưng phải hiểu là nó gọi 3 cái nơi này lại-->
                    <li><a href="http://localhost:60785/Places/vuonchimbl">Vườn chim Bạc Liêu</a></li>
                    <li><a href="http://localhost:60785/Places/rungbienbaclieu">Du lịch rừng và biển Bạc Liêu</a></li>
                    <li><a href="http://localhost:60785/Places/congtubaclieu">Nhà công tử Bạc Liêu</a></li>

                </ol>
            </div>
           
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
<br><br>
<div class="blog-footer">

    <p>
        <a href="#">Về đầu trang</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
